:host {
  position: absolute;
  top: 0;
  left: -300px;
  height: 100vh;
  transition: 280ms;
  z-index: 99;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

:host.is-open {
  transition: 280ms;
  left: 0;
}

.mat-icon {
  color: #fff;
}

:host h3 {
  background-color: #222;
  padding: 15px;
  margin: 0;
}

#sidenav {
  overflow-x: hidden;
}

#sidenav.hidden * {
  display: none;
}

.mat-radio-button {
  display: block;
  margin-top: 5px;
}

.mat-form-field {
  display: inherit;
}

.category {
  margin: 25px 0 0 0;
}
.entity-card {
  margin-bottom: 25px;
}

.entity-card .mat-card-title {
  text-transform: capitalize;
}

.entity-card img {
  cursor: pointer;
  max-height: 150px;
  width: 100%;
}

::ng-deep {
  .mat-card {
    margin: 8px !important;
    border-radius: 4px !important;
    background: rgba(255, 255, 255, 0.1) !important;
    box-sizing: border-box !important;
  }
}
