:host {
  position: absolute;
  top: 0;
  left: -300px;
  height: 100vh;
  transition: 280ms;
  z-index: 99;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  &.is-open {
    transition: 280ms;
    left: 0;
  }

  h3 {
    background-color: #222;
    padding: 15px;
    margin: 0;
  }
}

.mat-icon {
  color: #fff;
}

#sidenav {
  overflow-x: hidden;
  padding: 16px;

  > *[hidden] {
    display: none !important;
  }
}

.mat-mdc-radio-button {
  display: block;
  margin-top: 5px;
}

.mat-mdc-form-field {
  display: inherit;
}

.category {
  margin: 25px 0 0 0;
}

.entity-card {
  margin-bottom: 25px;

  .mat-mdc-card-title {
    text-transform: capitalize;
  }

  img {
    cursor: pointer;
    max-height: 150px;
    width: 100%;
  }
}
