:host {
  position: absolute;
  top: 0;
  left: -300px;
  height: 100vh;
  transition: left 280ms cubic-bezier(0.25, 1, 0.5, 1);
  z-index: 99;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  &.is-open {
    left: 0;
  }

  h3 {
    background-color: #222;
    padding: 15px;
    margin: 0;
  }
}

.mat-icon {
  color: #fff;
}

#sidenav {
  overflow-x: hidden;
  &.hidden * {
    display: none;
  }
  > *[hidden] {
    display: none;
  }
}

.mat-radio-button {
  display: block;
  margin-top: 5px;
}

.mat-form-field {
  display: inherit;
}
