<div id="sidenav">
    <mat-card *ngIf="isMeshSettingsMode && mode === 'annotation'">Please set and save the settings before you add annotations.</mat-card>
    <app-annotations-editor *ngIf="!isMeshSettingsMode && mode === 'annotation'"></app-annotations-editor>
    <app-entity-feature-settings *ngIf="mode === 'settings'"></app-entity-feature-settings>
    <app-entity-feature-metadata *ngIf="mode === 'metadata'"></app-entity-feature-metadata>
    <app-content *ngIf="mode === 'collectionBrowser'"></app-content>
    <app-content-browser *ngIf="mode === 'browser'"></app-content-browser>
</div>
