:host {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  pointer-events: none;

  display: grid;
  grid-template-columns: repeat(3, min(25vw, 25ch));
  grid-template-rows: auto 1fr auto;
  grid-column-gap: 16px;
  grid-row-gap: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  padding: 1rem;
  column-gap: 1rem;

  color: white;

  align-items: start;
  justify-items: center;
  text-align: center;

  img {
    width: 64px;
    height: 64px;
    object-fit: contain;
  }

  transition-property: transform, filter, backdrop-filter;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  filter: opacity(0);
  transform: translateY(1rem);
  &.visible {
    filter: opacity(1);
    transform: translateY(0%);
  }

  p {
    font-size: var(--font-size-small);
    margin: 0;
  }

  p.dismiss {
    grid-column: span 3;
    font-weight: bold;
  }
}
