<mat-card class="model-card" *ngIf="this.activeModel != null">

  <mat-card-header>

    <mat-card-title>
      Select initial model settings
    </mat-card-title>

  </mat-card-header>
  <mat-card-content>
    <h3 *ngIf="this.loadModelService.isDefaultLoad">Initial Perspective</h3>
    <h3 *ngIf="!this.loadModelService.isDefaultLoad">Select initial Perspective</h3>
    <p *ngIf="!this.loadModelService.isDefaultLoad">Click on image to select a new initial Perspective.</p>
    <img mat-card-image src={{this.activeModel.preview}} (click)="setInitialPerspective()"/>
    <h3>Select background</h3>
    <color-chrome (onChange)="handleChange($event)"></color-chrome>
    <p>Effect</p>
    <mat-checkbox (change)="handleChangeBackground()"></mat-checkbox>
    <h3>Select lights</h3>
    <p>Brightness</p>
    <mat-slider min="0" max="1" step="0.1" value="1" #matslider (input)="pitch($event)"></mat-slider>
    <p>PosX</p>
    <mat-slider min="0" max="10" step="1" value="0" #matslider (input)="pitchLightX($event)"></mat-slider>
    <p>PosY</p>
    <mat-slider min="0" max="10" step="1" value="1" #matslider (input)="pitchLightY($event)"></mat-slider>
    <p>PosZ</p>
    <mat-slider min="0" max="10" step="1" value="0" #matslider (input)="pitchLightZ($event)"></mat-slider>
  </mat-card-content>
</mat-card>
