<mat-card class="model-card" *ngIf="this.activeModel != null">
  <mat-card-header>
    <mat-card-title>
      Model Settings
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <br><br><br>
    <button mat-button (click)="backToDefault()">Back to Default</button>
    <button mat-button *ngIf="!isDefault" (click)="saveActualSettings()">Save as default</button>
    <br><br><br>
    <h3 *ngIf="this.loadModelService.isDefaultLoad">Initial Perspective</h3>
    <h3 *ngIf="!this.loadModelService.isDefaultLoad">Select initial Perspective</h3>
    <p *ngIf="!this.loadModelService.isDefaultLoad">Click on image to select a new initial Perspective.</p>
    <img mat-card-image src={{preview}} (click)="setInitialView()">

    <br><br><br>
    <h3>Background</h3>
    <color-chrome (onChange)="handleChangeColor($event)"></color-chrome>
    <br>
    <mat-slide-toggle (change)="handleChangeEffekt()">Gradient-Brightness Effect</mat-slide-toggle>
    <br><br><br>
    <h3>Lights</h3>
    <h4>Brightness</h4>
    <p>Ambient environment lights</p>
    <h5>Fabulous (up towards the sky)</h5>
    <mat-slider min="0" max="1" step="0.1" value={{ambientlightUpintensity}} #matslider (input)="setAmbientlightIntensityUp($event)"></mat-slider>
    <h5>Sunny (down towards the ground)</h5>
    <mat-slider min="0" max="1" step="0.1" value={{ambientlightDownintensity}} #matslider (input)="setAmbientlightIntensityDown($event)"></mat-slider>
    <br>
    <p>Pointlight</p>
    <mat-slider min="0" max="1" step="0.1" value={{this.babylonService.pointlightIntensity}} #matslider (input)="setPointlightIntensity($event)"></mat-slider>
    <h5>Pointlight Dimensions: X Y Z</h5>
    <mat-slider min="-10" max="10" step="1" value={{this.babylonService.pointlightPosX}} #matslider (input)="pointlightPosX($event)" vertical></mat-slider>
    <mat-slider min="-10" max="10" step="1" value={{this.babylonService.pointlightPosY}} #matslider (input)="pointlightPosY($event)" vertical></mat-slider>
    <mat-slider min="-10" max="10" step="1" value={{this.babylonService.pointlightPosZ}} #matslider (input)="pointlightPosZ($event)" vertical></mat-slider>
    <br><br><br>
    <button mat-button (click)="backToDefault()">Back to Default</button>
    <button mat-button *ngIf="!isDefault" (click)="saveActualSettings()">Save as default</button>
  </mat-card-content>
</mat-card>
