<mat-card class="annotation-card">
  <form class="annotation-form">


    <mat-card-header (click)="!editMode ? collapsed = !collapsed : false">

      <div mat-card-avatar class="annotation-header-image"><span>{{annotation.ranking}}</span></div>

      <mat-card-title>
        <span *ngIf="!editMode">{{annotation.title | uppercase}}</span>
        <mat-form-field *ngIf="editMode">
          <input matInput name="title" #title="ngModel" type="text" placeholder="Title" [(ngModel)]="annotation.title">
        </mat-form-field>

      </mat-card-title>

      <mat-card-subtitle>{{getValidation(annotation.validated)}}</mat-card-subtitle>

    </mat-card-header>


    <img mat-card-image src={{annotation.preview}} *ngIf="!collapsed">


    <mat-card-content *ngIf="!collapsed">

      <p *ngIf="!editMode"> {{annotation.description}}</p>
      <mat-form-field *ngIf="editMode">
        <textarea matInput name="description" #description="ngModel" type="text" placeholder="Description"
                  [(ngModel)]="annotation.description"></textarea>
      </mat-form-field>

      <mat-checkbox *ngIf="editMode" [checked]="annotation.validated"
                    (change)="annotation.validated = !annotation.validated">Validated
      </mat-checkbox>

      <button mat-icon-button (click)="selectPerspective()"
              matTooltip="Select Perspective"
              matTooltipPosition="right"
              *ngIf="editMode">
        <mat-icon aria-label="Select Perspective">camera</mat-icon>
      </button>

    </mat-card-content>


    <mat-card-actions>

      <button mat-icon-button (click)="toggleEditViewMode()"
              matTooltip={{labelModeText}} matTooltipPosition="above">
        <mat-icon attr.aria-label={{labelModeText}}>{{labelMode}}</mat-icon>
      </button>

      <button mat-icon-button (click)="deleteAnnotation()"
              matTooltip="Delete" matTooltipPosition="above">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>

    </mat-card-actions>


  </form>
</mat-card>
