<mat-card class="annotation-card">
  <form class="annotation-form" (ngSubmit)="onSubmit($event)">



    <mat-card-header (click)="!editMode ? collapsed = !collapsed : false" (click)="changeOpenPopup()">

      <div mat-card-avatar class="annotation-header-image"><span>{{annotation.ranking}}</span></div>

      <mat-card-title>
        <span *ngIf="!editMode">{{annotation.body.content.title | uppercase}}</span>
        <mat-form-field *ngIf="editMode">
          <input matInput name="title" #title="ngModel" type="text" placeholder="Title" [(ngModel)]="annotation.body.content.title">
        </mat-form-field>

      </mat-card-title>

      <mat-card-subtitle>{{getValidation(annotation.validated)}}</mat-card-subtitle>

    </mat-card-header>



    <img mat-card-image src={{preview}} *ngIf="!collapsed">

    <mat-card-content *ngIf="!collapsed">

      <p *ngIf="!editMode"> {{annotation.body.content.description}}</p>

      <mat-form-field *ngIf="editMode" class="description">
        <textarea matInput name="description" #description="ngModel" type="text" placeholder="Description"
                  [(ngModel)]="annotation.body.content.description"></textarea>
      </mat-form-field>

      <mat-checkbox class="validation" *ngIf="editMode && this.loadModelService.isCollectionOwner" [checked]="annotation.validated"
                    (change)="annotation.validated = !annotation.validated">Validated
      </mat-checkbox>

      <button mat-icon-button (click)="selectPerspective()"
              matTooltip="Select Perspective"
              matTooltipPosition="right"
              *ngIf="editMode"
              type="button"
              class="perspective">
        <mat-icon aria-label="Select Perspective">camera</mat-icon> Select Perspective
      </button>

    </mat-card-content>


    <mat-card-actions>

      <button mat-icon-button (click)="toggleEditViewMode()"
              matTooltip={{labelModeText}} matTooltipPosition="above"
              type="button">
        <mat-icon attr.aria-label={{labelModeText}}>{{labelMode}}</mat-icon>
      </button>

      <button mat-icon-button (click)="deleteAnnotation()"
              matTooltip="Delete" matTooltipPosition="above"
              type="button">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>

    </mat-card-actions>


  </form>
</mat-card>
