<mat-tab-group>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">add_location</mat-icon>
    </ng-template>

    <h3>Annotationen</h3>

    <div cdkDropList class="annotations-list" (cdkDropListDropped)="drop($event)"
         *ngIf="this.annotationService.annotations.length">
      <app-annotations-editor class="annotation-box" *ngFor="let annotation of this.annotationService.annotations;"
                              [annotation]="annotation" cdkDrag></app-annotations-editor>
    </div>
  </mat-tab>

</mat-tab-group>
