<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">add_location</mat-icon>
    </ng-template>
    <h3>Annotations</h3>
    <br>
    <app-annotations-editor></app-annotations-editor>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">settings</mat-icon>
    </ng-template>
    <h3>Settings</h3>
    <br>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">power_settings_new</mat-icon>
    </ng-template>
    <h3>Nothing</h3>
    <br>
  </mat-tab>
</mat-tab-group>


