:host {
  box-sizing: border-box;
  display: none;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 350px;
  z-index: 50;
  top: 0;
  right: 0;
  overflow-y: scroll;
}

:host h3 {
  background-color: #104b74;
  padding: 15px;
  margin: 0;
}

:host.is-open {
  display: block;
}


#model-overview {
  padding: 25px;
  height: 100%;
}

.mat-tab-group {
  width: 300px;
  height: 100%;
}
