<div id="collections">

  <mat-card class="titlecard">
    <mat-card-header>
      <mat-card-title>
        Collections
      </mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-card *ngIf="!isSingleModel && isLoggedIn && !isSingleCollection">

    <mat-card-content>

      Please choose to
      <button class="inline-button" mat-raised-button (click)="loadCollection()">load Collection</button>
      or
      <button class="inline-button" mat-raised-button (click)="loadModel()">load Model</button>
      .

    </mat-card-content>

  </mat-card>

  <div *ngIf="collectionSelected">

    <mat-spinner *ngIf="!this.catalogueService.Observables.collections.source['value']"></mat-spinner>

    <div *ngIf="this.catalogueService.Observables.collections.source['value']">

      <mat-card>

        <mat-card-header>
          Public Collections
        </mat-card-header>

        <mat-card-content>

          <mat-form-field>
            <mat-select (selectionChange)="handleCollectionChoice($event)" placeholder="Choose Collection">
              <mat-option *ngFor="let collection of this.catalogueService.Observables.collections.source['value'];"
                          [value]="collection">
                {{collection.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </mat-card-content>

      </mat-card>

      <mat-card *ngIf="this.loadModelService.personalCollections.length">

        <mat-card-header>
          Personal Collections
        </mat-card-header>

        <mat-card-content>

          <mat-form-field>
            <mat-select (selectionChange)="handleCollectionChoice($event)" placeholder="Choose Collection">
              <mat-option *ngFor="let collection of this.loadModelService.personalCollections;"
                          [value]="collection">
                {{collection.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </mat-card-content>

      </mat-card>

      <mat-card>

        <mat-card-header>
          Select Collection by ID
        </mat-card-header>

        <mat-card-content>

          <mat-form-field>
            <input matInput name="identifierCollection" #description="ngModel" type="text"
                   placeholder="What's the ID?" [(ngModel)]="identifierCollection">
          </mat-form-field>
          <button mat-raised-button (click)="searchCollectionByID()">Search it</button>
          <div *ngIf="singleCollectionSelected && actualCollection">
            <div class="category" *ngIf="actualCollection.name">Selected Collection: {{actualCollection.name}}</div>
            <div *ngIf="singleModelSelected">
              <div class="category" *ngIf="actualModel.name">Selected Model: {{actualModel.name}}</div>
            </div>
            <div *ngIf="actualCollection.models.length">
              <app-model class="model-box" *ngFor="let model of actualCollection.models;" [model]=model></app-model>
            </div>
          </div>

        </mat-card-content>

      </mat-card>
    </div>

  </div>

  <div *ngIf="modelSelected">


    <mat-spinner *ngIf="!this.catalogueService.Observables.models.source['value'];"></mat-spinner>

    <div *ngIf="this.catalogueService.Observables.models.source['value'];">
      <mat-card>

        <mat-card-header>
          Select by List of Models
        </mat-card-header>

        <mat-card-content>

          <mat-form-field>
            <mat-select (selectionChange)="handleModelChoice($event)" placeholder="Choose Model">
              <mat-option *ngFor="let model of this.catalogueService.Observables.models.source['value'];"
                          [value]="model">
                {{model.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </mat-card-content>

      </mat-card>

      <mat-card *ngIf="this.loadModelService.userOwnedModels.length">

        <mat-card-header>
          Personal Models
        </mat-card-header>

        <mat-card-content>

          <mat-form-field>
            <mat-select (selectionChange)="handleModelChoice($event)" placeholder="Choose Model">
              <mat-option *ngFor="let model of this.loadModelService.userOwnedModels;"
                          [value]="model">
                {{model.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </mat-card-content>

      </mat-card>

      <mat-card>
        <mat-card-header>
          Select Model by ID
        </mat-card-header>

        <mat-card-content>

          <mat-form-field>
            <input matInput name="identifierModel" #description="ngModel" type="text"
                   placeholder="What's the ID?" [(ngModel)]="identifierModel">
          </mat-form-field>
          <button mat-raised-button (click)="searchModelByID()">Search it</button>

          <div *ngIf="singleModelSelected && !collectionSelected">

            <div class="category" *ngIf="actualModel.name">Selected Model: {{actualModel.name}}</div>
            <div id="model-overview">
              <app-model class="model-box" [model]="actualModel"></app-model>
            </div>
          </div>

        </mat-card-content>

      </mat-card>
    </div>
  </div>

  <mat-card *ngIf="isSingleCollection">

    <mat-card-content>

      <mat-spinner *ngIf="!actualCollection.models.length"></mat-spinner>

      <div *ngIf="actualCollection.models.length">
        <div class="category" *ngIf="actualCollection.name">Selected Collection: {{actualCollection.name}}</div>
        <div class="category" *ngIf="actualModel.name">Selected Model: {{actualModel.name}}</div>
        <div *ngIf="actualCollection.models.length">
          <app-model class="model-box" *ngFor="let model of actualCollection.models;" [model]=model></app-model>
        </div>
      </div>

    </mat-card-content>

  </mat-card>

  <mat-card *ngIf="!isSingleCollection && !isSingleModel && !isLoggedIn">

    <mat-card-content>

      <p>Please Login with your university account to see data from the repository.</p>

      <button class="fullwidth-button"
              mat-raised-button
              (click)="loginDialog()">
        <mat-icon>account_circle</mat-icon>
        <span>Login</span>
      </button>

    </mat-card-content>

  </mat-card>

</div>
