:host {
  position: absolute;
  top: 0;
  left: -400px;
  height: 100vh;
  transition: 1s;
  z-index: 99;
}

:host.is-open {
  transition: 1s;
  left: 0;
}

:host h3 {
  background-color: #222;
  padding: 15px;
  margin: 0;
}


#model-overview {
  padding: 25px;
  height: 100%;
}

.mat-tab-group {
  width: 300px;
  height: 100%;
}

.mat-radio-button {
  display: block;
  margin-top: 5px;
}

.mat-form-field {
  display: inherit;
}

.category {
  margin: 25px 0 0 0;
}
