<div id="collections">

  <app-content-browser *ngIf="showContentBrowser"></app-content-browser>

  <div *ngIf="isCollectionLoaded">
    <div class="category">
        Selected Collection: {{loadModelService.getCurrentCompilation().name}}
    </div>
  </div>

  <div id="model-overview"
       *ngIf="loadModelService.Observables.actualModel | async; let object">
    <mat-card class="model-card">
      <mat-card-header>
        <mat-card-title>
          Selected Object: {{object.name}}
        </mat-card-title>
      </mat-card-header>
      <img
        *ngIf="object.settings && object.settings.preview"
        src={{object.settings.preview}}>
    </mat-card>
  </div>

  <div *ngIf="isCollectionLoaded">
        <div class="category">
          Objects in {{loadModelService.getCurrentCompilation().name}}
        </div>

        <mat-card class="model-card"
                  *ngFor="let object of loadModelService.getCurrentCompilation().models">
          <mat-card-header>
            <mat-card-title>
              {{object.name}}
            </mat-card-title>
          </mat-card-header>
          <img
            *ngIf="object.settings && object.settings.preview"
            src={{object.settings.preview}}
            (click)="this.catalogueService.selectModel(object._id, undefined)">
        </mat-card>
    </div>

</div>
