:host {
  position: absolute;
  top: 0;
  left: -400px;
  height: 100vh;
  transition: 1s;
  z-index: 99;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:host.is-open {
  transition: 1s;
  left: 0;
}

:host h3 {
  background-color: #222;
  padding: 15px;
  margin: 0;
}

.mat-tab-group {
  width: 300px;
  height: 100%;
}

.mat-radio-button {
  display: block;
  margin-top: 5px;
}

.mat-form-field {
  display: inherit;
}

.category {
  margin: 25px 0 0 0;
}
.entity-card {
  margin-bottom: 25px;
}

.entity-card .mat-card-title {
  text-transform: capitalize;
}

.entity-card img {
  cursor: pointer;
  max-height: 150px;
  width: 100%;
}
