#canvasWrapper {
  width: calc(100%);
  height: calc(100%);
  z-index: 1;
  position: absolute;
}

#renderCanvas {
  width: calc(100%);
  height: calc(100%);
  cursor: default;

  /* Disable styling when hold-touch on mobile */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
