<h2 mat-dialog-title>{{ 'Collection Password' | translate }}</h2>
<mat-dialog-content class="mat-typography">
  <h3>{{ 'This collection is protected by a password.' | translate }}</h3>
  <p>{{ 'Type in the password to load this collection.' | translate }}</p>
  <h3>{{ 'Password' | translate }}</h3>
  <mat-form-field>
    <input
      matInput
      name="password"
      #description="ngModel"
      type="password"
      placeholder="{{ 'password' | translate }}"
      [(ngModel)]="password"
    />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button cdkFocusInitial (click)="check()">{{ 'Check' | translate }}</button>
</mat-dialog-actions>
