<h2 mat-dialog-title>Collection Password</h2>
  <mat-dialog-content class="mat-typography">
    <h3>This collection is protected by a password.</h3>
    <p>Type in the password to load this collection.</p>
    <h3>Password</h3>
    <mat-form-field>
      <input matInput name="password" #description="ngModel" type="password"
             placeholder="password" [(ngModel)]="password">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="withoutPassword()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="check()">Check</button>
  </mat-dialog-actions>
