<div id="buttonbox" autofocus>
  <div class="col-md-3 col-sm-3 col-xs-6" id="sky"> <a href="#" class="btn btn-sm animated-button victoria-one">Sky</a> </div>
  <div class="col-md-3 col-sm-3 col-xs-6" id="urban"> <a href="#" class="btn btn-sm animated-button victoria-two">Urban</a> </div>
  <div class="col-md-3 col-sm-3 col-xs-6" id="fantasy"> <a href="#" class="btn btn-sm animated-button victoria-three">Fantasy</a> </div>
  <!--<div class="col-md-3 col-sm-3 col-xs-6"> <a href="#" class="btn btn-sm animated-button victoria-four">Learn more</a> </div>-->
</div>
