<ng-container *ngIf="processing.settings$ | async as settings">
  <ng-template matStepLabel>{{ 'Set Mesh Settings' | translate }}</ng-template>
  <h5>
    {{ 'Information & Helpers' | translate }}
    <button
      mat-icon-button
      (click)="meshSettingsHelperToggle = !meshSettingsHelperToggle"
      matTooltip="{{ 'Toggle' | translate }}"
      matTooltipPosition="above"
      type="button"
    >
      <mat-icon>{{
        meshSettingsHelperToggle ? 'keyboard_arrow_up' : 'keyboard_arrow_down'
      }}</mat-icon>
    </button>
  </h5>

  <div *ngIf="meshSettingsHelperToggle">
    <button class="fullwidth-button" mat-raised-button (click)="resetVisualUIMeshSettingsHelper()">
      {{ 'Reset Helper' | translate }}
    </button>
    <h5 *ngIf="meshes$ | async as meshes">{{ 'Number of meshes:' | translate }} {{ meshes.length }}</h5>
    <mat-checkbox [checked]="boundingBoxVisibility" (change)="toggleBoundingBoxEntityVisibility()">
      <h5>{{ 'Bounding Box Entity' | translate }}</h5>
    </mat-checkbox>

    <mat-checkbox
      [checked]="boundingBoxMeshesVisibility"
      (change)="toggleBoundingBoxMeshesVisibility()"
      ><h5>{{ 'Bounding Box Meshes' | translate }}</h5>
    </mat-checkbox>
    <h5>
      {{ 'Background' | translate }}
      <button
        mat-icon-button
        (click)="backgroundColorPickerToggle = !backgroundColorPickerToggle"
        matTooltip="{{ 'Toggle' | translate }}"
        matTooltipPosition="above"
        type="button"
      >
        <mat-icon>{{
          backgroundColorPickerToggle ? 'keyboard_arrow_up' : 'keyboard_arrow_down'
        }}</mat-icon>
      </button>
    </h5>
    <div *ngIf="backgroundColorPickerToggle">
      <color-chrome (onChange)="setBackgroundColor($event.color.rgb)"></color-chrome>
    </div>

    <mat-checkbox [checked]="worldAxisVisibility" (change)="toggleAxesVisibility('worldAxis')"
      ><h5>{{ 'World Axis' | translate }}</h5>
    </mat-checkbox>
    <div *ngIf="worldAxisVisibility">
      <h6>{{ 'Size' | translate }}</h6>
      <mat-slider
        min="0.1"
        max="3"
        step="0.1"
        [value]="worldAxisScalingFactor"
        #matslider
        (input)="setScalingFactorAxis($event.value, true)"
      ></mat-slider>
    </div>
    <br />
    <mat-checkbox [checked]="localAxisVisibility" (change)="toggleAxesVisibility('localAxis')"
      ><h5>{{ 'Local Axis' | translate }}</h5>
    </mat-checkbox>
    <div *ngIf="localAxisVisibility">
      <h6>{{ 'Size' | translate }}</h6>
      <mat-slider
        min="0.1"
        max="3"
        step="0.1"
        [value]="localAxisScalingFactor"
        #matslider
        (input)="setScalingFactorAxis($event.value, false)"
      ></mat-slider>
    </div>
    <br />
    <mat-checkbox [checked]="groundVisibility" (change)="toggleGroundVisibility()"
      ><h5>{{ 'Ground' | translate }}</h5>
    </mat-checkbox>
    <div *ngIf="groundVisibility">
      <h6>{{ 'Size' | translate }}</h6>
      <mat-slider
        min="0"
        max="10"
        step="1"
        [value]="groundScalingFactor"
        #matslider
        (input)="setScalingFactorGround($event.value)"
      ></mat-slider>
      <h6>{{ 'Color' | translate }}</h6>
      <color-chrome (onChange)="entitySettings.setGroundMaterial($event.color.rgb)"></color-chrome>
    </div>
    <button class="fullwidth-button" mat-raised-button (click)="resetVisualUIMeshSettingsHelper()">
      {{ 'Reset Helper' | translate }}
    </button>
  </div>

  <h5>{{ 'Set Settings' | translate }}</h5>
  <h5 style="padding-left: 1em">
    {{ 'Scale' | translate }}
    <button
      mat-icon-button
      (click)="meshScaleToggle = !meshScaleToggle"
      matTooltip="{{ 'Toggle' | translate }}"
      matTooltipPosition="above"
      type="button"
    >
      <mat-icon>
        {{ meshScaleToggle ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
      </mat-icon>
    </button>
  </h5>
  <div *ngIf="meshScaleToggle">
    <button class="fullwidth-button" mat-raised-button (click)="handleChangeDimension('scale', 1)">
      {{ 'Reset Size' | translate }}
    </button>
    <h6>
      {{ 'Height:' | translate }}
      <mat-form-field>
        <input
          matInput
          min="0"
          max="{{ entitySettings.initialSize.y * 5 }}"
          [(ngModel)]="processing.entityHeight"
          type="number"
          step="0.5"
          (input)="handleChangeDimension('height')"
        />
      </mat-form-field>
      cm
    </h6>

    <h6>
      {{ 'Width:' | translate }}
      <mat-form-field>
        <input
          matInput
          min="0"
          max="{{ entitySettings.initialSize.x * 5 }}"
          [(ngModel)]="processing.entityWidth"
          type="number"
          step="0.5"
          (input)="handleChangeDimension('width')"
        />
      </mat-form-field>
      cm
    </h6>

    <h6>
      {{ 'Depth:' | translate }}
      <mat-form-field>
        <input
          matInput
          min="0"
          max="{{ entitySettings.initialSize.z * 5 }}"
          [(ngModel)]="processing.entityDepth"
          type="number"
          step="0.5"
          (input)="handleChangeDimension('depth')"
        />
      </mat-form-field>
      cm
    </h6>

    <h6>{{ 'Scale factor:' | translate }} {{ settings.localSettings.scale }}</h6>
    <mat-slider
      min="0.0"
      max="5"
      step="0.05"
      [value]="settings.localSettings.scale"
      #matslider
      (input)="handleChangeDimension('scale', $event.value)"
    ></mat-slider>
  </div>
  <h5 style="padding-left: 1em">
    {{ 'Orientation' | translate }}
    <button
      mat-icon-button
      (click)="meshOrientationToggle = !meshOrientationToggle"
      matTooltip="{{ 'Toggle' | translate }}"
      matTooltipPosition="above"
      type="button"
    >
      <mat-icon>
        {{ meshOrientationToggle ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
      </mat-icon>
    </button>
  </h5>
  <div *ngIf="meshOrientationToggle">
    <button class="fullwidth-button" mat-raised-button (click)="setRotation('xyz_reset', 0)">
      {{ 'Reset Rotation' | translate }}
    </button>
    <h5>X</h5>
    <button
      mat-icon-button
      (click)="setRotation('x', -90)"
      matTooltip="{{ 'Rotate -90°' | translate }}"
      matTooltipPosition="above"
      type="button"
    >
      <mat-icon [attr.aria-label]="'Rotate -90°' | translate">undo</mat-icon>
    </button>
    <mat-form-field>
      <input
        matInput
        min="0"
        max="360"
        [(ngModel)]="settings.localSettings.rotation.x"
        type="number"
        step="1"
        (input)="entitySettings.loadRotation()"
      />
    </mat-form-field>
    °
    <button
      mat-icon-button
      (click)="setRotation('x', 90)"
      matTooltip="{{ 'Rotate 90°' | translate }}"
      matTooltipPosition="above"
      type="button"
    >
      <mat-icon [attr.aria-label]="'Rotate 90°' | translate">redo</mat-icon>
    </button>
    <h5>Y</h5>
    <button
      mat-icon-button
      (click)="setRotation('y', -90)"
      matTooltip="{{ 'Rotate -90°' | translate }}"
      matTooltipPosition="above"
      type="button"
    >
      <mat-icon [attr.aria-label]="'Rotate -90°' | translate">undo</mat-icon>
    </button>
    <mat-form-field>
      <input
        matInput
        min="0"
        max="360"
        [(ngModel)]="settings.localSettings.rotation.y"
        type="number"
        step="1"
        (input)="entitySettings.loadRotation()"
      />
    </mat-form-field>
    °
    <button
      mat-icon-button
      (click)="setRotation('y', 90)"
      matTooltip="{{ 'Rotate 90°' | translate }}"
      matTooltipPosition="above"
      type="button"
    >
      <mat-icon [attr.aria-label]="'Rotate 90°' | translate">redo</mat-icon>
    </button>
    <h5>Z</h5>
    <button
      mat-icon-button
      (click)="setRotation('z', -90)"
      matTooltip="{{ 'Rotate -90°' | translate }}"
      matTooltipPosition="above"
      type="button"
    >
      <mat-icon [attr.aria-label]="'Rotate -90°' | translate">undo</mat-icon>
    </button>
    <mat-form-field>
      <input
        matInput
        min="0"
        max="360"
        [(ngModel)]="settings.localSettings.rotation.z"
        type="number"
        step="1"
        (input)="entitySettings.loadRotation()"
      />
    </mat-form-field>
    °
    <button
      mat-icon-button
      (click)="setRotation('z', 90)"
      matTooltip="{{ 'Rotate 90°' | translate }}"
      matTooltipPosition="above"
      type="button"
    >
      <mat-icon [attr.aria-label]="'Rotate 90°' | translate">redo</mat-icon>
    </button>
  </div>
</ng-container>
