<ng-container *ngIf="processing.settings$ | async as settings">
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>Information & Helpers</mat-panel-title>
    </mat-expansion-panel-header>
    <button class="fullwidth-button" mat-stroked-button (click)="resetVisualUIMeshSettingsHelper()">
      Reset helpers
    </button>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Meshes & Bounding Box</mat-panel-title>
      </mat-expansion-panel-header>

      <span *ngIf="meshes$ | async as meshes">Number of meshes: {{ meshes.length }}</span>
      <mat-checkbox
        [checked]="boundingBoxVisibility"
        (change)="toggleBoundingBoxEntityVisibility()"
      >
        <span>Bounding Box Entity</span>
      </mat-checkbox>

      <mat-checkbox
        [checked]="boundingBoxMeshesVisibility"
        (change)="toggleBoundingBoxMeshesVisibility()"
        ><span>Bounding Box Meshes</span>
      </mat-checkbox>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Background</mat-panel-title>
      </mat-expansion-panel-header>

      <color-chrome (onChange)="setBackgroundColor($event.color.rgb)"></color-chrome>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>World Axis</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-checkbox [checked]="worldAxisVisibility" (change)="toggleAxesVisibility('worldAxis')">
        <span>Enabled</span>
      </mat-checkbox>
      <small>Size</small>
      <mat-slider
        min="0.1"
        max="3"
        step="0.1"
        [value]="worldAxisScalingFactor"
        #matslider
        (input)="setScalingFactorAxis($event.value!, true)"
      ></mat-slider>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Local Axis</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-checkbox [checked]="localAxisVisibility" (change)="toggleAxesVisibility('localAxis')">
        <span>Enabled</span>
      </mat-checkbox>
      <small>Size</small>
      <mat-slider
        min="0.1"
        max="3"
        step="0.1"
        [value]="localAxisScalingFactor"
        #matslider
        (input)="setScalingFactorAxis($event.value!, false)"
      ></mat-slider>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Ground</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-checkbox [checked]="groundVisibility" (change)="toggleGroundVisibility()">
        <span>Enabled</span>
      </mat-checkbox>

      <small>Size</small>
      <mat-slider
        min="0"
        max="10"
        step="1"
        [value]="groundScalingFactor"
        #matslider
        (input)="setScalingFactorGround($event.value!)"
      ></mat-slider>

      <small>Color</small>
      <color-chrome (onChange)="entitySettings.setGroundMaterial($event.color.rgb)"></color-chrome>
    </mat-expansion-panel>
  </mat-expansion-panel>

  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>Scale</mat-panel-title>
    </mat-expansion-panel-header>
    <button class="fullwidth-button" mat-stroked-button (click)="handleChangeDimension('scale', 1)">
      Reset Size
    </button>

    <mat-form-field>
      <mat-label>Height</mat-label>
      <input
        matInput
        min="0"
        max="{{ entitySettings.initialSize.y * 5 }}"
        [(ngModel)]="processing.entityHeight"
        type="number"
        step="0.5"
        (input)="handleChangeDimension('height')"
      />
      <span matTextSuffix>cm</span>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Width</mat-label>
      <input
        matInput
        min="0"
        max="{{ entitySettings.initialSize.x * 5 }}"
        [(ngModel)]="processing.entityWidth"
        type="number"
        step="0.5"
        (input)="handleChangeDimension('width')"
      />
      <span matTextSuffix>cm</span>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Depth</mat-label>
      <input
        matInput
        min="0"
        max="{{ entitySettings.initialSize.z * 5 }}"
        [(ngModel)]="processing.entityDepth"
        type="number"
        step="0.5"
        (input)="handleChangeDimension('depth')"
      />
      <span matTextSuffix>cm</span>
    </mat-form-field>

    <p>
      <small>Scale factor: {{ settings.localSettings.scale }}</small>
      <mat-slider
        min="0.0"
        max="5"
        step="0.05"
        [value]="settings.localSettings.scale"
        #matslider
        (input)="handleChangeDimension('scale', $event.value)"
      ></mat-slider>
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>Orientation</mat-panel-title>
    </mat-expansion-panel-header>
    <button class="fullwidth-button" mat-stroked-button (click)="setRotation('xyz_reset', 0)">
      Reset Rotation
    </button>

    <p>
      Tip: Use your mouse wheel or scroll on your touchpad to quickly change the rotation degrees in
      any of the axis input settings
    </p>

    <mat-form-field>
      <mat-label>X axis</mat-label>
      <input
        matInput
        min="0"
        max="360"
        [(ngModel)]="settings.localSettings.rotation.x"
        type="number"
        step="1"
        (input)="entitySettings.loadRotation()"
      />
      <span matTextSuffix>degrees</span>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Y axis</mat-label>
      <input
        matInput
        min="0"
        max="360"
        [(ngModel)]="settings.localSettings.rotation.y"
        type="number"
        step="1"
        (input)="entitySettings.loadRotation()"
      />
      <span matTextSuffix>degrees</span>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Z axis</mat-label>
      <input
        matInput
        min="0"
        max="360"
        [(ngModel)]="settings.localSettings.rotation.z"
        type="number"
        step="1"
        (input)="entitySettings.loadRotation()"
      />
      <span matTextSuffix>degrees</span>
    </mat-form-field>
  </mat-expansion-panel>

  <!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Mesh Settings</mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel> -->
</ng-container>
