<h2 mat-dialog-title>{{ 'Final mesh settings' | translate }}</h2>
<mat-dialog-content
  >{{ 'Mesh settings are not (and never again) editable after this step.' | translate }} <br />{{ 'This will also delete all
  helpers. Have you finally set all mesh settings (size and orientation)?' | translate }}</mat-dialog-content
>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">{{ 'No' | translate }}</button>
  <button mat-button [mat-dialog-close]="true">{{ 'Yes' | translate }}</button>
</mat-dialog-actions>
