<h1>{{ 'Final mesh settings' | translate }}</h1>
<p>
  {{ 'Mesh settings are not (and never again) editable after this step.' | translate }}<br />
  {{
    'This will also delete all  helpers. Have you finally set all mesh settings (size and orientation)?'
      | translate
  }}
</p>
<k-button-row justify="end" gap="4">
  <k-button type="outlined-secondary" (click)="close(false)">{{ 'No' | translate }}</k-button>
  <k-button type="solid-primary" (click)="close(true)">{{ 'Yes' | translate }}</k-button>
</k-button-row>
