<mat-card class="single-model-card"
          [style.top.px]="positionLeft"
          [style.left.px]="positionRight">

  <form class="model-form">

    <mat-card-header>

      <mat-card-title>
        <span>{{model.name | uppercase}}</span>
      </mat-card-title>

    </mat-card-header>

    <img mat-card-image src={{model.preview}}>

    <mat-card-content>

    </mat-card-content>


    <mat-card-actions>

      <button mat-icon-button (click)="changeModel()"
              matTooltip="Load" matTooltipPosition="above">
        <mat-icon aria-label="Load">video_call</mat-icon>
      </button>

    </mat-card-actions>


  </form>
</mat-card>
