<div id="menu">

  <button id="arc" (click)="setCamArcRotate()">Orbit Camera</button>
  <button id="unv" (click)="setCamUniversal()">Universal Camera</button>
  <button id="def" (click)="setBackToDefault()">Set back to Default</button>

  <button id="fullscreen" (click)="fullscreen()">Fullscreen</button>

  <button id="sky" (click)="skyboxChanger = 0; changeSkybox()">Sky</button>
  <button id="urban" (click)="skyboxChanger = 1; changeSkybox()">Urban</button>
  <button id="fantasy" (click)="skyboxChanger = 2; changeSkybox()">Fantasy</button>

</div>
