<div id="menu">

  <button id="arc" (click)="setCamArcRotate()">Orbit Camera</button>
  <button id="unv" (click)="setCamUniversal()">Universal Camera</button>
  <button id="def" (click)="setBackToDefault()">Set back to Default</button>

  <button id="fullscreen" (click)="fullscreen()">Fullscreen</button>

  <button id="grey" (click)="changeSkybox(0)">Grey</button>
  <button id="sky" (click)="changeSkybox(1)">Sky</button>
  <button id="urban" (click)="changeSkybox(2)">Urban</button>
  <button id="fantasy" (click)="changeSkybox(3)">Fantasy</button>

</div>
