<div [class.active]="isOpen">
  @if (processing.showAnnotationEditor$ | async) {
  <div>
    <button
      mat-icon-button
      (click)="overlay.toggleSidenav('annotation')"
      [matTooltip]="(isOpen && isAnnotation ? 'Close' : 'Annotation') | translate"
      matTooltipPosition="right"
    >
      <mat-icon [attr.aria-label]="'Toggle Annotation' | translate">place</mat-icon>
      <mat-icon class="arrow" [attr.aria-label]="'Toggle Annotation' | translate">
        {{ isOpen && isAnnotation ? 'arrow_left' : 'arrow_right' }}
      </mat-icon>
    </button>
  </div>
  } @if (processing.showSettingsEditor$ | async) {
  <div>
    <button
      mat-icon-button
      (click)="overlay.toggleSidenav('settings')"
      [matTooltip]="(isOpen && isSettings ? 'Close' : 'Settings') | translate"
      matTooltipPosition="right"
    >
      <mat-icon [attr.aria-label]="'Toggle Settings' | translate">settings</mat-icon>
      <mat-icon class="arrow" [attr.aria-label]="'Toggle Settings' | translate">
        {{ isOpen && isSettings ? 'arrow_left' : 'arrow_right' }}
      </mat-icon>
    </button>
  </div>
  } @if (processing.compilationLoaded$ | async) {
  <div>
    <button
      mat-icon-button
      (click)="overlay.toggleSidenav('compilationBrowser')"
      [matTooltip]="(isOpen && isCompilationBrowser ? 'Close' : 'Browse in Collection') | translate"
      matTooltipPosition="right"
    >
      <mat-icon [attr.aria-label]="'Toggle Collection Browser' | translate">folder_open</mat-icon>
      <mat-icon class="arrow" [attr.aria-label]="'Toggle Collection Browser' | translate">
        {{ isOpen && isCompilationBrowser ? 'arrow_left' : 'arrow_right' }}
      </mat-icon>
    </button>
  </div>
  }
</div>
