<div [class.active]="isOpen" id="menu">
  <div
    *ngIf="processing.showAnnotationEditor$ | async"
    (click)="overlay.toggleSidenav('annotation')"
    [matTooltip]="isOpen && isAnnotation ? 'Close' : 'Annotation'"
    matTooltipPosition="right"
    [class.active]="isOpen && isAnnotation"
  >
    <mat-icon aria-label="Toggle Annotation">place</mat-icon>
  </div>

  <div
    *ngIf="processing.showSettingsEditor$ | async"
    (click)="overlay.toggleSidenav('settings')"
    [matTooltip]="isOpen && isSettings ? 'Close' : 'Settings'"
    matTooltipPosition="right"
    [class.active]="isOpen && isSettings"
  >
    <mat-icon aria-label="Toggle Settings">settings</mat-icon>
  </div>

  <div
    *ngIf="processing.compilationLoaded$ | async"
    (click)="overlay.toggleSidenav('compilationBrowser')"
    [matTooltip]="isOpen && isCompilationBrowser ? 'Close' : 'Browse in Collection'"
    matTooltipPosition="right"
    [class.active]="isOpen && isCompilationBrowser"
  >
    <mat-icon aria-label="Toggle Collection Browser">folder_open</mat-icon>
  </div>
</div>
