:host {
  position: absolute;
  top: 25px;
  left: 0;
  transition: 280ms;
  z-index: 99;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  box-shadow: 1px 1px #333;
}

:host .mat-icon-button {
  padding: 5px 0 5px 5px !important;
  width: auto;
  height: auto;
}

:host a {
  text-decoration: none;
  color: #fff;
}

:host.is-open {
  transition: 280ms;
  left: 300px;
}

mat-icon.arrow {
  margin-left: -5px;
}

.mat-icon-button.active {
  background-color: rgba(255, 255, 255, 0.2);
}
