:host {
  position: absolute;
  top: 25px;
  left: 0;
  transition: left 280ms cubic-bezier(0.25, 1, 0.5, 1);
  z-index: 99;

  &.is-open {
    left: 300px;
  }
}

button.active {
  background: rgba(255, 255, 255);
}

div#menu {
  color: #fff;
  background-color: var(--transparent-background-color);
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 16px 12px 16px 4px;

  > div {
    cursor: pointer;
    padding: 4px;
    width: 24px;
    height: 24px;
    display: grid;
    place-items: center;
    clip-path: circle(16px);
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 120ms ease-out;
    &.active {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}
