:host {
  --transition-duration: 280ms;
  position: absolute;
  top: 16px;
  left: 0;
  transition: var(--transition-duration);
  z-index: 99;
  color: #fff;

  div.button-wrapper {
    background-color: var(--color-bg-transparent);
    border-radius: 0 8px 8px 0;
    padding: 8px;

    transition: background-color 0.3s, border-color 0.3s;
    &.selected {
      background-color: var(--color-primary);
    }
    &:hover {
      background-color: var(--color-grey-12);
    }
  }

  .mat-mdc-icon-button {
    display: flex !important;
    height: 48px !important;
    width: 48px !important;
  }
  
  &.is-open {
    left: var(--sidebar-width);
  }

  &:not(.is-open) div.button-close {
    transition: var(--transition-duration);
    transform: translateX(-100%);
  }
}
