<mat-card *ngIf="isMeshSettingsMode">Please set and save the settings before you add annotations.</mat-card>

<mat-card
  *ngIf="isAnnotatingAllowed && !annotationService.isCollectionInputSelected && !(annotationService.currentAnnotations | async).length">
  All annotations you create are default annotations and visible for everyone who can access the entity.
</mat-card>

<mat-card *ngIf="!isMeshSettingsMode && !isAnnotatingAllowed &&
!annotationService.isCollectionInputSelected && !isDefaultEntityLoaded">
  Default Annotations are not editable for foreign entities. Load entity from a collection to save your
  annotations to make them visible for others. If you are the owner of this entity do not load it
  from a collection to edit the default Annotations.
</mat-card>

<mat-card *ngIf="isAnnotatingAllowed && !(annotationService.currentAnnotations | async).length">
  To add annotations, simply double-click on the entity.
</mat-card>

<div cdkDropList
     id="annotations-droplist"
     class="annotations-list"
     (cdkDropListDropped)="drop($event)">
  <app-annotation-for-editor class="annotation-box"
                             *ngFor="let annotation of (annotationService.currentAnnotations | async);"
                             [annotation]="annotation"
                             [cdkDragDisabled]="!(isCollectionLoaded ? (isCollectionOwner && isAnnotatingAllowed) : isAnnotatingAllowed)"
                             cdkDrag cdkDragLockAxis="y"></app-annotation-for-editor>
</div>

<div id="editor-footermenu">

  <button *ngIf="(annotationService.currentAnnotations | async).length"
          mat-icon-button
          matTooltip="Export Annotations to JSON"
          matTooltipPosition="below"
          (click)="exportAnnotations()">
    <mat-icon aria-label="Export Annotations to JSON">save</mat-icon>
  </button>
  <!--app-broadcast [style.visibility]="isBroadcastingAllowed ? 'visible' : 'hidden'"></app-broadcast-->
  <div *ngIf="isCollectionLoaded">

    Mode:
    <mat-radio-group [disabled]="!isCollectionLoaded || isBroadcasting || isDefaultEntityLoaded"
                     aria-label="Select Annotation Category"
                     (change)="changeCategory($event)">
      <mat-radio-button value="def"
                        [checked]="!isCollectionLoaded || isDefaultEntityLoaded || isDefaultAnnotationsSource"> Default
      </mat-radio-button>
      <mat-radio-button value="col"> Collection</mat-radio-button>
    </mat-radio-group>

  </div>
</div>
