<mat-card
  *ngIf="isAnnotatingAllowed && !annotationService.isCollectionInputSelected && !annotationService.getCurrentAnnotations().length">
  All annotations here are default annotations and visible for everyone who can access the model. If you
  don't want that, load this model from a collection.
</mat-card>

<mat-card *ngIf="!isAnnotatingAllowed && !annotationService.isCollectionInputSelected && !isDefaultModelLoaded">
  Default Annotations are not editable for foreign models. Load model from a collection to save your
  annotations to make them visible for others. If you are the owner of this model do not load it
  from a collection to edit the default Annotations.
</mat-card>

<mat-card *ngIf="isAnnotatingAllowed && !annotationService.getCurrentAnnotations().length">
  To add annotations, simply double-click on the model.
</mat-card>

<div cdkDropList
     id="annotations-droplist"
     class="annotations-list"
     (cdkDropListDropped)="drop($event)">
  <app-annotation-for-editor class="annotation-box"
                             *ngFor="let annotation of annotationService.annotations | filterAnnotations:annotationService.isCollectionInputSelected;"
                             [annotation]="annotation"
                             [cdkDragDisabled]="isCollectionLoaded ? !isCollectionOwner: !isAnnotatingAllowed"
                             cdkDrag cdkDragLockAxis="y"></app-annotation-for-editor>
</div>

<div id="editor-footermenu">

  <button *ngIf="annotationService.getCurrentAnnotations().length"
          mat-icon-button
          matTooltip="Export Annotations to JSON"
          matTooltipPosition="below"
          (click)="exportAnnotations()">
    <mat-icon aria-label="Export Annotations to JSON">save</mat-icon>
  </button>

  <!--app-broadcast [style.visibility]="isBroadcastingAllowed ? 'visible' : 'hidden'"></app-broadcast-->

  <div>

    Mode:
    <mat-radio-group [disabled]="!isCollectionLoaded || isBroadcasting || isDefaultModelLoaded"
                     aria-label="Select Annotation Category"
                     (change)="changeCategory($event)">
      <mat-radio-button value="def"
                        [checked]="!isCollectionLoaded || isDefaultModelLoaded || isDefaultAnnotationsSource"> Default
      </mat-radio-button>
      <mat-radio-button value="col"> Collection</mat-radio-button>
    </mat-radio-group>

  </div>
</div>
