.annotation-box {
  padding: 1px 0 1px 0;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 13px;
}

.entity-box {
  padding: 1px 0 1px 0;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 13px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.annotation-box:last-child {
  border: none;
}

.annotations-list.cdk-drop-list-dragging .annotation-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

::ng-deep .mat-slide-toggle-bar {
  height: 8px !important;
  width: 28px !important;
}

::ng-deep .mat-slide-toggle-thumb {
  height: 11px !important;
  width: 10px !important;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
  transform: translate3d(18px,0,0) !important;
}

::ng-deep .mat-slide-toggle-thumb-container {
  width: 12px !important;
  height: 12px !important;
  top: -2px !important;
}

#editor-footermenu {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);
  border-top: 1px solid #333;
  height: 75px;
  font-size: 0.8rem;
}

#editor-footermenu .mat-radio-button {
  margin: 0 5px;
}

#annotations-droplist {
  margin-bottom: 75px;
}
