<mat-card class="white-mat-card card-without-padding" [class.active]="isSelected" *ngIf="entity">
  <img
    class="previewimage"
    [style.--bg]="bgColor | colorToRgba"
    *ngIf="previewImage"
    [src]="previewImage"
    (click)="!isSelected && processing.fetchAndLoad(entity._id, undefined)"
    [matTooltip]="isSelected ? '' : 'Click to load'"
    matTooltipPosition="after"
  />
  <mat-expansion-panel class="custom-expansion-panel" [expanded]="isSelected">
    <mat-expansion-panel-header
      class="padded-expansion-panel-header"
      matTooltip="Toggle description"
      matTooltipPosition="after"
    >
      <strong>{{ entity.name }}</strong>
    </mat-expansion-panel-header>

    <small *ngIf="digitalEntity; else noDescription">
      {{ digitalEntity.description }}
    </small>
    <ng-template #noDescription> No description available </ng-template>
  </mat-expansion-panel>
</mat-card>
