:host {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  padding: 8px;
  box-sizing: border-box;
}

#annotationwalkthrough {
  max-width: 420px;
  background-color: var(--color-bg-transparent);
  border-radius: 12px;
  color: #fff;
  text-align: center;
  z-index: 1;
  display: grid;
  align-items: center;
  gap: 8px;
  grid-template-columns: 1fr auto 1fr;
  box-sizing: border-box;
  padding: 8px 12px;

  &.hidden {
    display: none;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  #walktertitle {
    line-height: 1;
    display: inline-block;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    width: 230px;
    @media (max-width: 600px) {
      width: 0px;
    }
  }

  /*k-button {
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0px;
  }*/
}
