@if (showWalkthrough$ | async) {
<div id="annotationwalkthrough">
  <button
    id="btn-previous"
    mat-icon-button
    (click)="previousAnnotation()"
    matTooltip="{{ 'Back' | translate }}"
    matTooltipPosition="above"
  >
    <mat-icon [attr.aria-label]="'Back' | translate">keyboard_arrow_left</mat-icon>
  </button>
  <span id="walktertitle">{{ title$ | async }}</span>
  <button
    id="btn-next"
    mat-icon-button
    (click)="nextAnnotation()"
    matTooltip="{{ 'Next' | translate }}"
    matTooltipPosition="above"
  >
    <mat-icon [attr.aria-label]="'Save Scene' | translate">keyboard_arrow_right</mat-icon>
  </button>
</div>
}
