@if (showWalkthrough$ | async) {
  <div id="annotationwalkthrough">
    <k-button
      (click)="previousAnnotation()"
      [disabled]="(annotationService.isTransitioning$ | async) ?? false"
      tooltip="{{ 'Back' | translate }}"
      tooltipPosition="above"
      icon-button
    >
      <mat-icon [attr.aria-label]="'Back' | translate">keyboard_arrow_left</mat-icon>
    </k-button>
    <span id="walktertitle">{{ title$ | async }}</span>
    <k-button
      (click)="nextAnnotation()"
      [disabled]="(annotationService.isTransitioning$ | async) ?? false"
      tooltip="{{ 'Next' | translate }}"
      tooltipPosition="above"
      icon-button
    >
      <mat-icon [attr.aria-label]="'Next' | translate">keyboard_arrow_right</mat-icon>
    </k-button>
  </div>
}
