:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  background-color: rgba(255, 255, 255, 0.04);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  --transition-duration: 0s;
  --transition-easing: cubic-bezier(0.45, 0, 0.55, 1);

  > .details-header {
    min-height: 32px;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    svg {
      transform-origin: center;
      rotate: 0deg;
      transition: rotate var(--transition-duration) var(--transition-easing);

      &.opened {
        rotate: 90deg;
      }
    }
  }

  .details-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-height: 0px;
    padding: 0px;
    overflow: hidden;
    gap: var(--gap);

    transition: max-height var(--transition-duration) var(--transition-easing),
      padding var(--transition-duration) var(--transition-easing);

    &.opened {
      max-height: var(--inner-height, auto);
      padding: 12px;
    }
  }
}
