<ng-container *ngIf="entities$ | async as entities">
  <mat-card class="white-mat-card" *ngIf="compilation$ | async as compilation">
    <p class="center">
      <strong>{{ compilation.name }}</strong>
    </p>
  </mat-card>

  <ng-container *ngIf="entity$ | async as selectedEntity">
    <app-compilation-browser-entity-card
      *ngFor="let entity of entities"
      [entity]="entity"
      [isSelected]="entity._id === selectedEntity._id"
    ></app-compilation-browser-entity-card>
  </ng-container>
</ng-container>
