<div id="compilationBrowser">
  <div *ngIf="compilation">
    <div id="entity-overview" *ngIf="processing.entity$ | async; let entity">
      <mat-card class="entity-card">
        <mat-card-header>
          <mat-card-title> Selected Object: {{ entity.name }} </mat-card-title>
        </mat-card-header>
        <img *ngIf="entity.settings && entity.settings.preview" [src]="entity.settings.preview" />
      </mat-card>
    </div>

    <div class="category">Object{{ entityCount > 1 ? 's' : '' }} in {{ compilation.name }}:</div>

    <ng-container *ngFor="let entity of currentEntities">
      <mat-card class="entity-card" *ngIf="isEntity(entity)">
        <mat-card-header>
          <mat-card-title>
            {{ entity.name }}
          </mat-card-title>
        </mat-card-header>
        <img
          *ngIf="entity.settings && entity.settings.preview"
          [src]="entity.settings.preview"
          (click)="processing.fetchAndLoad(entity._id, undefined, true)"
        />
      </mat-card>
    </ng-container>
  </div>
</div>
