@use 'src/helpers';

:host {
  @include helpers.flex-column-with-gap(0px);
  padding: 8px;
}

p.center {
  text-align: center;
}

.card-without-padding {
  padding: 0px !important;
}

.previewimage {
  width: 100%;
  height: 160px;
  aspect-ratio: 16/10;
  transition: all 250ms ease-out;
  object-fit: contain;
  border-radius: inherit;
  background-color: var(--bg);
  cursor: pointer;
  filter: brightness(1.25);
}
