:host {
  display: flex;
  cursor: default;
  pointer-events: none;
  flex-direction: column;
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translateX(100%) translateY(calc(100% - 16px));
  background-color: var(--color-gray-dark);
  margin: 0px;
  padding: 0px 8px;
  width: var(--width, 200px);
  border-radius: 4px;
  box-shadow: 0px 0px 4px 2px var(--color-bg-solid);
  z-index: 1;
  align-items: stretch;
  filter: opacity(0);
  transition:
    transform 200ms ease-out,
    filter 200ms ease-out;
  text-align: left;
  font-size: var(--font-size-small);

  &.show {
    pointer-events: all;
    filter: opacity(1);
    transform: translateX(100%) translateY(100%);
  }
}

.k-menu-options {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
