:host {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: inherit;
  background-color: inherit;
}

.compilation-entity {
  cursor: pointer;
  width: 250px;
  display: inline-block;
}