<h4>{{ 'Brightness' | translate }}</h4>
<p>{{ 'Ambient environment lights' | translate }}</p>
<h5>{{ 'Fabulous' | translate }} ({{ 'down towards the ground' | translate }})</h5>
<mat-slider
  min="0"
  max="50"
  step="0.1"
  [value]="getLightIntensity('ambientlightUp')"
  (input)="setLightIntensity($event.value, 'ambientlightUp')"
></mat-slider>
<h5>{{ 'Sunny' | translate }} ({{ 'up towards the sky' | translate }})</h5>
<mat-slider
  min="0"
  max="50"
  step="0.1"
  [value]="getLightIntensity('ambientlightDown')"
  (input)="setLightIntensity($event.value, 'ambientlightDown')"
></mat-slider>
<br />
<p>{{ 'Pointlight' | translate }}</p>
<mat-slider
  min="0"
  max="50"
  step="0.1"
  [value]="getLightIntensity('pointLight')"
  (input)="setLightIntensity($event.value, 'pointLight')"
></mat-slider>
<h5>{{ 'Pointlight Dimensions:' | translate }} X Y Z</h5>
<mat-slider
  min="-10"
  max="10"
  step="1"
  [value]="pointLightX"
  (input)="setPointlightPosition('x', $event.value)"
  vertical
></mat-slider>
<mat-slider
  min="-10"
  max="10"
  step="1"
  [value]="pointLightY"
  (input)="setPointlightPosition('y', $event.value)"
  vertical
></mat-slider>
<mat-slider
  min="-10"
  max="10"
  step="1"
  [value]="pointLightZ"
  (input)="setPointlightPosition('z', $event.value)"
  vertical
></mat-slider>
