<h4>{{ 'Brightness' | translate }}</h4>
<p>{{ 'Ambient environment lights' | translate }}</p>
<h5>{{ 'Fabulous' | translate }} ({{ 'down towards the ground' | translate }})</h5>
<mat-slider min="0" max="50" step="0.1" #ngSlider
  ><input
    matSliderThumb
    [value]="getLightIntensity('ambientlightUp')"
    (input)="
      setLightIntensity(
        { source: ngSliderThumb, parent: ngSlider, value: ngSliderThumb.value }.value,
        'ambientlightUp'
      )
    "
    #ngSliderThumb="matSliderThumb"
/></mat-slider>
<h5>{{ 'Sunny' | translate }} ({{ 'up towards the sky' | translate }})</h5>
<mat-slider min="0" max="50" step="0.1" #ngSlider
  ><input
    matSliderThumb
    [value]="getLightIntensity('ambientlightDown')"
    (input)="
      setLightIntensity(
        { source: ngSliderThumb, parent: ngSlider, value: ngSliderThumb.value }.value,
        'ambientlightDown'
      )
    "
    #ngSliderThumb="matSliderThumb"
/></mat-slider>
<br />
<p>{{ 'Pointlight' | translate }}</p>
<mat-slider min="0" max="50" step="0.1" #ngSlider
  ><input
    matSliderThumb
    [value]="getLightIntensity('pointLight')"
    (input)="
      setLightIntensity(
        { source: ngSliderThumb, parent: ngSlider, value: ngSliderThumb.value }.value,
        'pointLight'
      )
    "
    #ngSliderThumb="matSliderThumb"
/></mat-slider>
<h5>{{ 'Pointlight Dimensions:' | translate }} X Y Z</h5>
<!-- TODO: The 'vertical' property no longer exists -->
<mat-slider min="-10" max="10" step="1" #ngSlider
  ><input
    matSliderThumb
    [value]="pointLightX"
    (input)="
      setPointlightPosition(
        'x',
        { source: ngSliderThumb, parent: ngSlider, value: ngSliderThumb.value }.value
      )
    "
    #ngSliderThumb="matSliderThumb"
/></mat-slider>
<!-- TODO: The 'vertical' property no longer exists -->
<mat-slider min="-10" max="10" step="1" #ngSlider
  ><input
    matSliderThumb
    [value]="pointLightY"
    (input)="
      setPointlightPosition(
        'y',
        { source: ngSliderThumb, parent: ngSlider, value: ngSliderThumb.value }.value
      )
    "
    #ngSliderThumb="matSliderThumb"
/></mat-slider>
<!-- TODO: The 'vertical' property no longer exists -->
<mat-slider min="-10" max="10" step="1" #ngSlider
  ><input
    matSliderThumb
    [value]="pointLightZ"
    (input)="
      setPointlightPosition(
        'z',
        { source: ngSliderThumb, parent: ngSlider, value: ngSliderThumb.value }.value
      )
    "
    #ngSliderThumb="matSliderThumb"
/></mat-slider>
