@if (compilation$ | async; as compilation) {
<mat-dialog-content>
  <h3>{{ 'Invitation for Collaborators' | translate }}</h3>
  <mat-form-field>
    <mat-label>{{ 'You can edit this text' | translate }}</mat-label>
    <textarea
      matInput
      [value]="
        text + ((processing.defaultEntityLoaded$ | async) ? defaultURL : baseURL + compilation._id)
      "
      #userinput
      cdkTextareaAutosize
      cdkAutosizeMinRows="4"
    ></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-icon-button
    (click)="copyInputMessage(userinput)"
    matTooltip="{{ 'click to copy' | translate }}"
    matTooltipPosition="above"
  >
    <mat-icon [attr.aria-label]="'Copy from Textbox' | translate">file_copy</mat-icon>
  </button>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true">{{ 'Close' | translate }}</button>
  </mat-dialog-actions>
</mat-dialog-actions>
}
