<form action="auth-dialog_submit" method="get" accept-charset="utf-8">
  <h1>{{ (concern && concern !== '' ? concern : 'Login') | translate }}</h1>

  <k-input
    [label]="'Username' | translate"
    type="username"
    (valueChanged)="data.username = $event.value"
  />
  <k-input
    [label]="'Password' | translate"
    type="password"
    (valueChanged)="data.password = $event.value"
  />

  @if (loginFailed) {
  <p style="color: red">{{ 'Login failed' | translate }}</p>
  }

  <k-button-row>
    <k-button (click)="dialogRef.close(false)" [disabled]="waitingForResponse" type="outlined" full-width color="secondary" bgColor="transparent">{{
      'Cancel' | translate
    }}</k-button>
    <k-button
      (click)="login()"
      [disabled]="data.username.length === 0 || data.password.length === 0 || waitingForResponse"
      full-width
    >
      {{ 'Login' | translate }}
    </k-button>
  </k-button-row>
</form>
