<h2 mat-dialog-title>Kompakkt Login</h2>
<div>
  <form novalidate (ngSubmit)="login()">
    <mat-dialog-content class="mat-typography">
      <h3>Login to view entities from the repository</h3>
      <p>With your university account you can login to see entities available in the repository.</p>
      <h3>Username and password</h3>
      <mat-form-field>
        <input matInput
               name="username"
               type="text"
               placeholder="username"
               autocomplete="username"
               [(ngModel)]="username"
               cdkFocusInitial>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               name="password"
               type="password"
               autocomplete="current-password"
               placeholder="password"
               [(ngModel)]="password">
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button type="submit">Login</button>
      <button mat-button mat-dialog-close (click)="withoutlogin()">Cancel</button>
    </mat-dialog-actions>
  </form>
</div>
