:host {
  --button-count: 2;
  --justify: space-evenly;
  --gap: 8px;
  display: flex;
  justify-content: var(--justify);
  gap: var(--gap);

  width: 100%;
  @supports (width: stretch) {
    width: stretch;
  }

}
