<div id="switch-collaborative">
  Collaborative Annotation Mode
  <mat-slide-toggle id="socket"
                    mat-icon-button
                    [(ngModel)]="toggleChecked" (change)="onSocketToggleChange()"
                    matTooltip="Login to Socket.Io"
                    matTooltipPosition="above"
                    color="warn"
                    aria-label="Login to Socket.Io">
  </mat-slide-toggle>
  <button
          (click)="inviteCollaborators();"
          matTooltip="Invite Collaborator"
          matTooltipPosition="above"
          type="button">
    <mat-icon aria-label="Copy to collection">share</mat-icon>
  </button>
  </div>
