<mat-slide-toggle id="socket"
                  mat-icon-button
                  [(ngModel)]="toggleChecked" (change)="onSocketToggleChange()"
                  matTooltip="Collaborative Editing"
                  matTooltipPosition="above"
                  color="warn"
                  aria-label="Collaborative Editing">
</mat-slide-toggle>
<button
  mat-icon-button
  (click)="inviteCollaborators();"
  matTooltip="Invite Collaborator"
  matTooltipPosition="above"
  type="button">
  <mat-icon aria-label="Invite Collaborator">share</mat-icon>
</button>
