#switch-collaborative {
  text-align: center;
  font-size: 0.9rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 7px 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);
  border-top: 1px solid #333;
}
