.example-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

#menu {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline;
  padding: 15px;
  width: 100%;
  color: #fff;
  text-align: right;
}
