@if (currentMode(); as mode) { @if (mode == 'edit') {
<div class="side-by-side">
  <div class="left">
    <h2>{{ 'Edit annotation' | translate }}</h2>

    <k-input
      [label]="'Title' | translate"
      [startingValue]="data().title"
      (valueChanged)="onTitleChange($event.value)"
    />

    <k-textarea
      #annotationContent
      [label]="'Content' | translate"
      [startingValue]="data().description"
      (valueChanged)="onTextAreaChange($event.value)"
      resize="both"
    />
  </div>
  <div class="right">
    <h2>{{ 'Live preview' | translate }}</h2>

    <p>
      <strong>{{ data().title }}</strong>
    </p>

    <app-markdown-preview [data]="data().description" />
  </div>
</div>

<app-media-browser (addMedia)="addEntitySwitch($event)" />

<k-button-row justify="end">
  <k-button type="outlined-secondary" (click)="close(false)">
    <span>{{ 'Cancel' | translate }}</span>
  </k-button>
  <k-button type="solid-primary" (click)="close(true)">
    <span>{{ 'Save annotation' | translate }}</span>
  </k-button>
</k-button-row>

} @else {
<h2>{{ data().title }}</h2>

<app-markdown-preview [data]="data().description" />
} }
