@if (currentMode(); as mode) {

<!-- Switch -->
@if (canUserEdit()) {
<h1>{{ 'Edit annotation' | translate }}</h1>

<div class="tab-selection">
  <div class="tab" [class.active]="mode === 'edit'" (click)="currentMode.set('edit')">
    <span>Edit</span>
  </div>
  <div class="tab" [class.active]="mode === 'preview'" (click)="currentMode.set('preview')">
    <span>Preview</span>
  </div>
</div>
} @switch (mode) { @case ('edit') {
<div>
  <k-input
    [label]="'Title' | translate"
    [startingValue]="data().title"
    (valueChanged)="onTitleChange($event.value)"
  />

  <k-textarea
    #annotationContent
    [label]="'Content' | translate"
    [startingValue]="data().description"
    (valueChanged)="onTextAreaChange($event.value)"
    resize="both"
  />
</div>

} @case ('preview') {
<h2>{{ data().title }}</h2>

<app-markdown-preview [data]="data().description" />
} }
<!-- /Switch -->
@if (mode === 'edit') {
<div class="embeddables">
  <app-media-browser (addMedia)="addEntitySwitch($event)" />
</div>
} } @if (canUserEdit()) {
<k-button-row justify="end">
  <k-button type="outlined-primary" (click)="close(false)">
    <span>{{ 'Cancel' | translate }}</span>
  </k-button>
  <k-button type="solid-primary" (click)="close(true)">
    <span>{{ 'Save' | translate }}</span>
  </k-button>
</k-button-row>
}
