<h2 mat-dialog-title>{{ 'Delete Annotation' | translate }}</h2>
<mat-dialog-content>
  <h3>{{ 'Please authenticate for deleting' | translate }}</h3>
  <mat-form-field>
    <input
      matInput
      name="username"
      type="text"
      placeholder="{{ 'username' | translate }}"
      [(ngModel)]="username"
      cdkFocusInitial
    />
  </mat-form-field>
  <mat-form-field>
    <input matInput name="password" type="password" placeholder="password" [(ngModel)]="password" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" (click)="login()">{{ 'Submit' | translate }}</button>
  <button mat-button [mat-dialog-close]="false" (click)="withoutlogin()">
    {{ 'Cancel' | translate }}
  </button>
</mat-dialog-actions>
