:host {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@-webkit-keyframes spin1 {
	0% { -webkit-transform: rotate(0deg);}
	100% { -webkit-transform: rotate(360deg);}
}
@keyframes spin1 {
	0% { transform: rotate(0deg);}
	100% { transform: rotate(360deg);}
}

#loadingDiv {
	position: absolute;
	background-color: rgb(0,0,0);
	opacity: 0;
	transition: opacity 0.3s ease;
	pointer-events: none;
	z-index: 100;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#loadingDivImg {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -60px;
	margin-top: -60px;
	animation: spin1 2s infinite ease-in-out;
	/*WebkitAnimation WebkitTransformOrigin*/
	transform-origin: 50% 50%;
	pointer-events: none;
}

#loadingDivText {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: 80px;
	width: 100%;
	height: 20px;
	font-family: 'Verdana';
	font-size: 15px;
	color: rgb(255,255,255);
	text-align: center;
	pointer-events: none;
}
