<h2 mat-dialog-title>{{ 'Share Annotation to Collection' | translate }}</h2>
@if (!checkPwdMode) {
<div>
  <mat-dialog-content class="mat-typography">
    <h3>{{ 'Please enter the ID of the target Collection' | translate }}</h3>
    <mat-form-field>
      <input
        matInput
        name="targetCollectionId"
        type="text"
        placeholder="{{ 'Collection ID' | translate }}"
        [(ngModel)]="targetCollectionId"
        cdkFocusInitial
      />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="share()">{{ 'Share' | translate }}</button>
    <button mat-button mat-dialog-close (click)="cancel()">{{ 'Cancel' | translate }}</button>
  </mat-dialog-actions>
</div>
} @if (checkPwdMode) {
<div>
  <mat-dialog-content class="mat-typography">
    <h3>{{ 'This collection is protected by a password.' | translate }}</h3>
    <p>{{ 'Type in the password to load this collection.' | translate }}</p>
    <h3>{{ 'Password' | translate }}</h3>
    <mat-form-field>
      <input
        matInput
        name="password"
        #description="ngModel"
        type="password"
        placeholder="{{ 'password' | translate }}"
        [(ngModel)]="passwordCollection"
      />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="cancel()">{{ 'Cancel' | translate }}</button>
    <button mat-button cdkFocusInitial (click)="checkPwd()">{{ 'Check' | translate }}</button>
  </mat-dialog-actions>
</div>
}
