<div id="editor">
  <button class="closeSidenav"
          mat-icon-button
          (click)="overlayService.toggleEditor();"
          type="button">
    <mat-icon aria-label="Close">cancel</mat-icon>
  </button>

  <mat-tab-group #tabGroup mat-align-tabs="left" animationDuration="0ms" [(selectedIndex)]="selectedTab">

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">place</mat-icon>
      </ng-template>
      <mat-card *ngIf="isMeshSettingsMode">Please set and save the settings before you add annotations.</mat-card>
      <perfect-scrollbar>
        <app-annotations-editor *ngIf="!isMeshSettingsMode"></app-annotations-editor>
      </perfect-scrollbar>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">settings</mat-icon>
      </ng-template>
      <perfect-scrollbar>
        <app-entity-feature-settings></app-entity-feature-settings>
      </perfect-scrollbar>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">description</mat-icon>
      </ng-template>
      <perfect-scrollbar>
        <app-entity-feature-metadata></app-entity-feature-metadata>
      </perfect-scrollbar>
    </mat-tab>

  </mat-tab-group>
</div>
