<div id="camera-settings" [class.opened]="opened$ | async" (click)="$event.stopPropagation()">
  <div id="camera-type-notification" [class.opened]="showNotification$ | async">
    {{ showNotification$ | async }}
  </div>

  <h2>{{ 'Camera settings' | translate }}</h2>

  <h3>{{ 'Type' | translate }}</h3>
  @if (annotationService.isAnnotationMode$ | async) {
  <p>
    {{ 'Switching the camera type is not supported while annotating' | translate }}
  </p>
  } @else {
  <div class="button-pair" [class.disabled]="annotationService.isAnnotationMode$ | async">
    <button
      mat-flat-button
      (click)="babylon.cameraManager.setCameraType('ArcRotateCamera')"
      [class.active]="(babylon.cameraManager.cameraType$ | async) === 'ArcRotateCamera'"
      matTooltip="{{ 'Orbit around an anchor point on the object' | translate }}"
    >
      {{ 'Orbit' | translate }}
    </button>
    <button
      mat-flat-button
      (click)="babylon.cameraManager.setCameraType('UniversalCamera')"
      [class.active]="(babylon.cameraManager.cameraType$ | async) === 'UniversalCamera'"
      matTooltip="{{ 'Move freely with the arrow keys' | translate }}"
    >
      {{ 'Free' | translate }}
    </button>
  </div>
  }

  <h3>{{ 'Speed' | translate }} ({{ cameraSpeed.value }}x)</h3>
  <mat-slider
    min="0.25"
    max="2"
    step="0.25"
    discrete
    showTickMarks
    [formControl]="cameraSpeed"
    #ngSlider
    ><input
      matSliderThumb
      (input)="
        cameraSpeed.setValue(
          { source: ngSliderThumb, parent: ngSlider, value: ngSliderThumb.value }.value!
        )
      "
      #ngSliderThumb="matSliderThumb"
    />
    <input matSliderThumb />
  </mat-slider>
  <hr />
  <button mat-flat-button (click)="resetCamera()">{{ 'Reset camera' | translate }}</button>
</div>
