<div id="camera-settings" [class.opened]="opened$ | async" (click)="$event.stopPropagation()">
  <div id="camera-type-notification" [class.opened]="showNotification$ | async">
    {{ showNotification$ | async }}
  </div>

  <h2>Camera settings</h2>

  <h3>Type</h3>
  <p *ngIf="annotationService.isAnnotationMode$ | async; else cameraTypeButtons">
    Switching the camera type is not<br />supported while annotating
  </p>
  <ng-template #cameraTypeButtons>
    <div class="button-pair" [class.disabled]="annotationService.isAnnotationMode$ | async">
      <button
        mat-flat-button
        (click)="babylon.cameraManager.setCameraType('ArcRotateCamera')"
        [class.active]="(babylon.cameraManager.cameraType$ | async) === 'ArcRotateCamera'"
        matTooltip="Orbit around an anchor point on the object"
      >
        Orbit
      </button>
      <button
        mat-flat-button
        (click)="babylon.cameraManager.setCameraType('UniversalCamera')"
        [class.active]="(babylon.cameraManager.cameraType$ | async) === 'UniversalCamera'"
        matTooltip="Move freely with the arrow keys"
      >
        Free
      </button>
    </div>
  </ng-template>

  <h3>Speed ({{ cameraSpeed.value }}x)</h3>
  <mat-slider
    min="0.25"
    max="2"
    step="0.25"
    discrete
    showTickMarks
    [formControl]="cameraSpeed"
    (input)="cameraSpeed.setValue($event.value!)"
  >
    <input matSliderThumb />
  </mat-slider>
  <hr />
  <button mat-flat-button (click)="resetCamera()">Reset camera</button>
</div>
