:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  padding: 16px 0px;

  img.preview-image {
    width: 100%;
    max-height: 200px;
    object-fit: scale-down;
    background-color: var(--color-bg-transparent);
    border-radius: 4px;
  }

  div.header {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 8px;

    pointer-events: all;
    cursor: pointer;

    font-size: var(--font-size-base);
    span,
    small {
      font-size: inherit;
    }

    span.title {
      font-weight: var(--font-weight-bold);
      text-wrap: balance;
    }

    span.ranking {
      grid-row: span 2;
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      border-radius: 50%;

      background-color: var(--color-primary);
      color: white;
    }

    small {
      color: var(--color-gray-12);
    }
  }
}
