<mat-card class="annotation-card" *ngIf="annotation$ | async as annotation">
  <form class="annotation-form">
    <mat-card-header (click)="changeOpenPopup()">
      <div mat-card-avatar class="annotation-header-image">
        <span>{{ annotation.ranking }}</span>
      </div>

      <mat-card-title>
        <mat-form-field *ngIf="isEditMode$ | async; else showTitle">
          <input
            matInput
            name="title"
            #title="ngModel"
            type="text"
            placeholder="{{ 'Title' | translate }}"
            [(ngModel)]="annotation.body.content.title"
          />
        </mat-form-field>
        <ng-template #showTitle>
          <span>{{ annotation.body.content.title | uppercase }}</span>
        </ng-template>
      </mat-card-title>

      <mat-card-subtitle>
        {{ annotation.validated ? translateItems[4] : translateItems[5] }}
      </mat-card-subtitle>
    </mat-card-header>

    <ng-container *ngIf="previewImage$ | async as previewImage; else noPreviewImage">
      <img mat-card-image [src]="previewImage" *ngIf="!(collapsed$ | async)" />
    </ng-container>
    <ng-template #noPreviewImage>
      <p>{{ 'This annotation has no preview image' | translate }}</p>
    </ng-template>

    <mat-card-content *ngIf="!(collapsed$ | async)">
      <ng-container *ngIf="isEditMode$ | async; else showContent">
        <mat-form-field class="description">
          <textarea
            matInput
            #annotationContent
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            name="description"
            type="text"
            placeholder="{{ 'Description' | translate }}"
            [(ngModel)]="annotation.body.content.description"
          ></textarea>
        </mat-form-field>

        <mat-checkbox
          class="validation"
          *ngIf="userOwnsCompilation$ | async"
          [checked]="annotation.validated"
          (change)="annotation.validated = !annotation.validated"
          >{{ 'Validated' | translate }}
        </mat-checkbox>

        <button
          mat-icon-button
          (click)="selectPerspective()"
          matTooltip="{{ 'Select Perspective' | translate }}"
          matTooltipPosition="right"
          type="button"
          class="perspective"
        >
          <mat-icon aria-label="{{ 'Select Perspective' | translate }}">camera</mat-icon>
          {{ 'Select Perspective' | translate }}
        </button>
      </ng-container>

      <ng-template #showContent>
        <app-markdown-preview
          id="annotation-content"
          [data]="annotation.body.content.description"
        ></app-markdown-preview>
      </ng-template>
    </mat-card-content>

    <mat-card-actions>
      <mat-slide-toggle [checked]="showAnnotation$ | async" (change)="toggleVisibility()">
        {{ (showAnnotation$ | async) ? translateItems[3] : translateItems[2] }}
      </mat-slide-toggle>

      <ng-container
        *ngIf="(processing.hasAnnotationAllowance$ | async) && (isAnnotationOwner$ | async)"
      >
        <button
          mat-icon-button
          (click)="toggleEditViewMode()"
          [matTooltip]="(isEditMode$ | async) ? translateItems[0] : translateItems[1]"
          matTooltipPosition="above"
          type="button"
        >
          <mat-icon
            [attr.aria-label]="(isEditMode$ | async) ? translateItems[0] : translateItems[1]"
          >
            {{ (isEditMode$ | async) ? 'save' : 'edit' }}
          </mat-icon>
        </button>

        <button
          mat-icon-button
          (click)="editFullscreen()"
          matTooltip="{{ 'Edit in Fullscreen Mode' | translate }}"
          matTooltipPosition="above"
          type="button"
        >
          <mat-icon aria-label="{{ 'Fullscreen' | translate }}">select_all</mat-icon>
        </button>

        <button
          mat-icon-button
          (click)="deleteAnnotation()"
          matTooltip="{{ 'Delete' | translate }}"
          matTooltipPosition="above"
          type="button"
        >
          <mat-icon aria-label="{{ 'Delete' | translate }}">delete</mat-icon>
        </button>
      </ng-container>

      <button
        mat-icon-button
        *ngIf="annotation._id !== 'DefaultAnnotation'"
        (click)="shareAnnotation()"
        matTooltip="{{ 'Copy to collection' | translate }}"
        matTooltipPosition="above"
        type="button"
      >
        <mat-icon aria-label="{{ 'Copy to collection' | translate }}">file_copy</mat-icon>
      </button>
    </mat-card-actions>
  </form>
</mat-card>
