:host {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.annotation-card {
  width: 100%;
  padding: 0.8rem;
}

.mat-mdc-card-content {
  max-height: 20vh;
  overflow-y: auto;
  margin: 0;
}

.mat-mdc-card-actions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.annotation-card .mat-mdc-card-actions {
  padding: 0;
  margin: 0;
  float: right;
}

.annotation-card .material-icons {
  font-size: 20px;
}

.annotation-card .description,
.annotation-card .validation,
.annotation-card .perspective {
  display: block;
}

.annotation-card .perspective {
  width: 100%;
  color: white;
}

img {
  margin-bottom: 0;
}

.annotation-header-image {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
}

span {
  display: inline-block;
  vertical-align: middle;
}

#number {
  position: absolute;
  z-index: -1;
}
