$cardbgr: #111;
$max-width: 500px;

:host {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

.single-annotation-card {
  z-index: 0;
  position: absolute;
  animation: fadein 280ms;
  opacity: 0.9 !important;
  border-radius: 5px !important;
  transition: all 0s ease-in-out, opacity 280ms;
}

.single-annotation-card.resizable .mat-card-content {
  overflow-y: scroll;
  height: 100% !important;
}

.mat-form-field {
  width: 100% !important;
  font-weight: lighter;
  font-size: 1.2rem;
}

#closeButton {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(40%, -40%);
  opacity: 0;
  transition: opacity 280ms;
}

.mat-card {
  background-color: $cardbgr;
  border-radius: 0.25rem;
  color: #fff;
  word-wrap: break-word;

  // This is to prevent annotations with
  // large descriptions from taking up
  // the whole viewport
  max-width: 35%;

  &:hover #closeButton {
    opacity: 1;
  }
}

.mat-card .mat-input-element {
  color: #fff;
}

.bigger-font {
  line-height: 1.5rem;
  font-size: 1.5rem;
}

.mat-card-title {
  font-weight: lighter;
  margin: 0;

  display: flex;
  justify-content: center;
}

.mat-card-content {
  overflow-y: auto;
  margin-bottom: 0;
  font-size: 1.1rem;
  font-weight: lighter;
  max-height: 30vh;
}

.mat-card-actions {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
}

#annotation-content {
  white-space: pre-wrap;
}
