<!--
  Marker Component, displaying a round marker to indicate the annotation positions
  On click, the corresponding annotation will be selected and displayed
  The Indicator is annotation?.ranking
-->
<div
  class="marker"
  [style.--top]="positionTop + 'px'"
  [style.--left]="positionLeft + 'px'"
  [style.--size]="markerSize + 'px'"
  [style.z-index]="positionZ"
  [class.selected]="isSelected$ | async"
  *ngIf="annotation"
  (click)="selectAnnotation(annotation)"
>
  {{ annotation.ranking }}
</div>
