@use '@angular/material' as mat;

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-typography-config());`
// @include mat.all-component-typographies();
@include mat.core();

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('./assets/fonts/OpenSans.css');
@import url('./assets/fonts/MaterialIcons.css');

:root {
  --font-stack: 'Open Sans', Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans',
    'Gill Sans MT', 'Myriad Pro', Myriad, 'DejaVu Sans Condensed', 'Liberation Sans',
    'Nimbus Sans L', Tahoma, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --brand-color: #00afe7;

  /* Material styles override */
  --mat-dialog-headline-padding: 16px 24px 9px;
  --mat-menu-container-color: var(--color-bg-transparent);

  /* Colors */
  --color-primary: #00afe7;
  --color-secondary: #cccccc;
  --color-accent: #e91e63;
  --color-warn: #f77159;

  --color-bg-transparent: rgba(0, 0, 0, 0.7);

  --color-gray-1: #333;
  --color-gray-2: #555;
  --color-gray-3: #999;
  --color-gray-4: #ccc;
  --color-gray-5: #eee;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: var(--font-stack);
}

* {
  font-family: var(--font-stack);
}

app-markdown-preview {
  > * {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: scale-down;
    background: var(--color-bg-transparent);
    border-radius: 4px;
  }

  * {
    font-family: var(--font-stack);
    font-size: 16px;
    margin: 0;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

.mat-mdc-card {
  border-radius: 1px !important;
}

/* Material Design Tabs */
.mat-mdc-tab-header,
.mat-mdc-tab-nav-bar {
  border-bottom: none;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.mat-mdc-tab-group .mat-tab-label-active {
  background-color: #555;
}

.mat-mdc-tab-group.mat-primary .mat-ink-bar,
.mat-mdc-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #333;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.mat-mdc-tab-group .mat-tab-label {
  min-width: 50px !important;
  padding: 0;
}

.mat-mdc-tab-body {
  /* background-color: #333; */
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.mat-tab-body-wrapper {
  height: 100%;
}

/* / Material Design Tabs */

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
.single-annotation-card .mat-card-header-text {
  margin: 0 !important;
  width: 100% !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of input that may no longer apply for the MDC version. */
.mat-input-underline {
  background-color: white !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.mat-form-field-label {
  color: #fff !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.mat-mdc-form-field.mat-focused .mat-form-field-ripple {
  background-color: #aaa;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.mat-form-field-infix {
  width: 100% !important;
}

.chrome-picker {
  width: 100% !important;
}

#sidenav,
#editor,
#compilationBrowser {
  color: #fff;
  width: 300px;
  height: 100%;
  z-index: auto;
  background: var(--color-bg-transparent);
  box-sizing: border-box;
  border: 0;
  padding: 0;
  overflow-y: auto;
}

#editor .material-icons {
  font-size: 20px;
}

#editor .mat-mdc-card,
#compilationBrowser .mat-card {
  background-color: var(--color-bg-transparent);
}

#editor .mat-mdc-card:not(:last-child),
#compilationBrowser .mat-card:not(:last-child) {
  border-bottom: 1px solid #333;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
#editor .mat-mdc-tab-group .mat-tab-label-active {
  background-color: var(--color-bg-transparent);
}

#editor .mat-mdc-raised-button:not([disabled]),
#compilationBrowser .mat-raised-button:not([disabled]) {
  background-color: #333;
}

#editor .mat-mdc-card-avatar {
  height: 25px;
  width: 25px;
}

.mat-mdc-card-header .mat-mdc-card-title {
  font-size: 15px;
  font-weight: normal;
  word-wrap: break-word;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
#editor .annotations-list .mat-card-header-text {
  margin: 0 0 0 15px;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
#editor-metadata .mat-card-header-text,
#editor-modelsettings .mat-card-header-text,
#editor-about .mat-card-header-text,
#compilationBrowser .mat-card-header-text {
  margin: 0;
}

#editor-metadata .mat-mdc-card,
#editor-modelsettings .mat-card,
#editor-about .mat-card,
#compilationBrowser .mat-card {
  margin-bottom: 1px;
}

#editor-metadata .mat-mdc-card-content,
#editor-modelsettings .mat-card-content,
#editor-about .mat-card-content,
#compilationBrowser .mat-card-content {
  line-height: 23px;
}

.fullwidth-button {
  width: 100%;
}

#compilationBrowser .mat-mdc-raised-button:not([disabled]) .mat-icon {
  margin-right: 10px;
}

.cdk-overlay-dark-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.mat-mdc-dialog-container {
  background: #333;
}

#annotation-content img,
.mat-mdc-dialog-content img,
.mat-mdc-card-content img {
  max-width: 100%;
}

#annotation-content a {
  color: #00afe7;
  border-bottom: 1px solid;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-content {
  position: relative;
}

.closeSidenav {
  position: absolute !important;
  top: 3px;
  right: 7px;
  z-index: 15;
}

.video {
  width: 100% !important;
}

// MARK: Angular 17 Material Fixes
.mat-mdc-icon-button {
  display: grid !important;
  place-items: center !important;
}

/* Scrollbar style */
* {
  scrollbar-width: thin;
  scrollbar-color: #4a5b6c rgba(0, 0, 0, 0.3);
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    width: 0.2rem;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: #4a5b6c;
    outline: 1px solid #4a5b6c;
  }
}
