@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

.mat-card {
  border-radius: 1px !important;
}

/* Material Design Tabs */
.mat-tab-header, .mat-tab-nav-bar {
  border-bottom: none;
}

.mat-tab-group .mat-tab-label-active {
  background-color: #555;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #333;
}

.mat-tab-group .mat-tab-label {
  min-width: 50px !important;
  padding: 0;
}

.mat-tab-body {
  /* background-color: #333; */
}

.mat-tab-body-wrapper {
  height: 100%;
}

/* / Material Design Tabs */

.single-annotation-card .mat-card-header-text {
  margin: 0 !important;
  width: 100% !important;
}

.mat-input-underline {
  background-color: white !important;
}

.mat-form-field-label {
  color: #fff !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #aaa;
}

.mat-form-field-infix {
  width: 100% !important;
}

.chrome-picker {
  width: 100% !important;
}

#editor,
#collections {
  color: #fff;
  width: 300px;
  height: 100%;
  z-index: auto;
  background: rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  border: 0;
  padding: 0;
  overflow-y: auto;
}

#editor .material-icons {
  font-size: 20px;
}

#editor .mat-card,
#collections .mat-card {
  background-color: rgba(0, 176, 255, 0.2);
}

#editor .mat-tab-group .mat-tab-label-active {
  background-color: rgba(0, 176, 255, 0.3);
}

#editor .mat-card-avatar {
  height: 25px;
  width: 25px;
}

#editor .mat-card-header .mat-card-title {
  font-size: 15px;
  word-wrap: break-word;
}

#editor .annotations-list .mat-card-header-text {
  margin: 0 0 0 15px;
}

#editor-metadata .mat-card-header-text,
#editor-modelsettings .mat-card-header-text,
#editor-about .mat-card-header-text,
#collections .mat-card-header-text {
  margin: 0;
}

#editor-metadata .mat-card,
#editor-modelsettings .mat-card,
#editor-about .mat-card,
#collections .mat-card {
  margin-bottom: 1px;
}

#editor-metadata .mat-card-content,
#editor-modelsettings .mat-card-content,
#editor-about .mat-card-content,
#collections .mat-card-content {
  line-height: 23px;
}

.mat-card.titlecard {
  padding: 7px 7px 7px 10px !important;
  background-color: rgba(0, 176, 255, 0.1) !important;
}

.titlecard .mat-card-header-text {
  margin: 0 !important;
  padding: 12px 0 10px 0;
}

.titlecard .mat-card-header .mat-card-title {
  font-size: 11px !important;
  font-weight: lighter;
  margin-bottom: 0 !important;
}

#editor .mat-raised-button:not([disabled]),
#collections .mat-raised-button:not([disabled]) {
  background-color: rgba(0, 176, 255, 0.3);
}

.fullwidth-button {
  width: 100%;
}

#collections .mat-raised-button:not([disabled]) .mat-icon {
  margin-right: 10px;
}

.cdk-overlay-dark-backdrop {
  background-color: rgba(0, 0, 0, .5);
}

.mat-dialog-container {
  background: #333;
}

#annotation-content img,
.mat-dialog-content img,
.mat-card-content img {
  max-width: 100%;
}

mat-card-content {
  position: relative;
}

.closeSidenav {
  position: absolute !important;
  top: 3px;
  right: 7px;
  z-index: 15;
}
