@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card {
  border-radius: 1px !important;
}

/* Material Design Tabs */
.mat-tab-header, .mat-tab-nav-bar {
  border-bottom: none;
}

.mat-tab-group .mat-tab-label-active {
  background-color: #555;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #333;
}

.mat-tab-group .mat-tab-label {
  min-width: 50px !important;
  padding: 0;
}

.mat-tab-body {
  /* background-color: #333; */
}

.mat-tab-body-wrapper {
  height: 100%;
}

/* / Material Design Tabs */

.single-annotation-card .mat-card-header-text {
  margin: 0 !important;
  width: 100% !important;
}

.mat-input-underline {
  background-color: white !important;
}

.mat-form-field-label {
  color: #fff !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #aaa;
}

.mat-form-field-infix {
  width: 100% !important;
}

.chrome-picker {
  width: 100% !important;
}

#editor,
#collections {
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 400px;
  z-index: 50;
  background: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  border: 0;
  padding: 25px;
  overflow-y: scroll;
}

#editor .is-open {
  display: block;
}
