:host {
  position: absolute;
  bottom: 5px;
  left: 50%;
  width: 600px;
  margin-left: -300px;
  color: #fff;
  text-align: center;
}

:host a {
  text-decoration: none;
  color: #fff;
}

#walktertitle {
  display: inline-block;
  text-overflow: ellipsis;
  text-transform: uppercase;
  max-width: 500px !important;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: -5px;
}
