:host {
  position: absolute;
  bottom: 5px;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  color: #fff;
  text-align: center;
  z-index: 1;
}

:host a {
  text-decoration: none;
  color: #fff;
}

#walktertitle {
  display: inline-block;
  text-overflow: ellipsis;
  text-transform: uppercase;
  margin-bottom: -5px;
  white-space: nowrap;
  overflow: hidden;
  width: 230px;
}

#btn-next,
#btn-previous {
  width: 30px;
}
