:host {
  color: #fff;
  text-align: right;
  z-index: 51;
}

:host a {
  text-decoration: none;
  color: #fff;
}

.mat-icon-button.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.bottom {
  position: absolute;
  right: 15px;
  height: auto;
  width: auto;
  bottom: 8px;

  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  box-shadow: 1px 1px #333;
}

.is-active {
  color: #00aee6;
  background-color: rgba(255, 255, 255, 0.2);
}
