<div id="menu">

  <button (click)="setCamArcRotate()">Orbit Camera</button>
  <button (click)="setCamUniversal()">Universal Camera</button>
  <button (click)="setBackToDefault()">Set back to Default</button>

  <button (click)="consoleLogging()">Console.log</button>

  <button (click)="changeSkybox(0)">Grey</button>
  <button (click)="changeSkybox(1)">White</button>
  <button (click)="changeSkybox(2)">Light Grey</button>
  <button (click)="changeSkybox(3)">Blue</button>
  <button (click)="changeSkybox(4)">Marine Blue</button>

  <button mat-mini-fab color="black" (click)="fullscreen()">
    <mat-icon aria-label="Switch to fullscreen mode">fullscreen</mat-icon>
  </button>

</div>
