:host {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline;
  padding: 15px;
  width: 100%;
  color: #fff;
  text-align: right;
  z-index: 0;
}

:host a {
  text-decoration: none;
  color: #fff;
}

