<div>
    <button mat-icon-button (click)="overlayService.toggleCollectionsOverview()"
            [class.active]="overlayService.collectionsOverview | async"
            matTooltip="Catalogue"
            matTooltipPosition="above">
        <mat-icon aria-label="Toggle Collections Overview">collections</mat-icon>
    </button>

    <button mat-icon-button (click)="overlayService.toggleEditor()"
            [class.active]="overlayService.editor | async"
            matTooltip="Entity Features" matTooltipPosition="above">
        <mat-icon aria-label="Edit scene and annotations">edit</mat-icon>
    </button>


    <button mat-icon-button (click)="babylonService.cameraManager.resetCamera();"
            matTooltip="Reset Cameraperspective" matTooltipPosition="below">
        <mat-icon>videocam</mat-icon>
    </button>

    <button mat-icon-button *ngIf="showLogin" (click)="isAuthenticated ? userDataService.logout() : loginAttempt()"
            matTooltip="{{isAuthenticated ? 'Logout' : 'Login'}}" matTooltipPosition="above">
        <mat-icon>account_circle</mat-icon>
    </button>

    <button mat-icon-button *ngIf="high !== '' && medium !== ''" [matMenuTriggerFor]="quality"
            matTooltip="Quality" matTooltipPosition="above">
        <mat-icon>high_quality</mat-icon>
    </button>
    <!-- Quality Submenu -->
    <mat-menu #quality="matMenu">
        <button mat-menu-item *ngIf="high !== ''" (click)="processingService.updateEntityQuality('high')">High</button>
        <button mat-menu-item *ngIf="medium !== ''" (click)="processingService.updateEntityQuality('medium')">Medium
        </button>
        <button mat-menu-item *ngIf="low !== ''" (click)="processingService.updateEntityQuality('low')">Low</button>
    </mat-menu>
    <!-- / Quality Submenu -->

    <button mat-icon-button (click)="babylonService.createScreenshot();"
            matTooltip="Screenshot" matTooltipPosition="above">
        <mat-icon>camera</mat-icon>
    </button>

    <button *ngIf="fullscreenCapable" mat-icon-button (click)="toggleFullscreen()"
            matTooltip="{{fullscreen ? 'Exit Fullscreen' : 'Enter Fullscreen'}}" matTooltipPosition="above">
        <mat-icon aria-label="Exit fullscreen mode">{{fullscreen ? 'fullscreen_exit' : 'fullscreen'}}</mat-icon>
    </button>
</div>
