<button mat-icon-button [ngClass]="'top'" (click)="babylonService.cameraManager.resetCamera(); "
        matTooltip="Reset Cameraperspective" matTooltipPosition="below">
    <mat-icon>videocam</mat-icon>
</button>

<div [ngClass]="'bottom'">
    <button mat-icon-button *ngIf="!isAuthenticated && loginRequired" (click)="loginAttempt()"
            matTooltip="Login" matTooltipPosition="above">
        <mat-icon>account_circle</mat-icon>
    </button>

    <button mat-icon-button *ngIf="high !== '' && medium !== ''" [matMenuTriggerFor]="quality"
            matTooltip="Quality" matTooltipPosition="above">
        <mat-icon>high_quality</mat-icon>
    </button>
    <!-- Quality Submenu -->
    <mat-menu #quality="matMenu">
        <button mat-menu-item *ngIf="high !== ''" (click)="processingService.updateEntityQuality('high')">High
        </button>
        <button mat-menu-item *ngIf="medium !== ''" (click)="processingService.updateEntityQuality('medium')">Medium
        </button>
        <button mat-menu-item *ngIf="low !== ''" (click)="processingService.updateEntityQuality('low')">Low</button>
    </mat-menu>
    <!-- / Quality Submenu -->

    <button mat-icon-button (click)="babylonService.createScreenshot();"
            matTooltip="Screenshot" matTooltipPosition="above">
        <mat-icon>camera</mat-icon>
    </button>

    <button *ngIf="fullscreenCapable" mat-icon-button (click)="toggleFullscreen()"
            matTooltip="{{fullscreen ? 'Exit Fullscreen' : 'Enter Fullscreen'}}" matTooltipPosition="above">
        <mat-icon aria-label="Exit fullscreen mode">{{fullscreen ? 'fullscreen_exit' : 'fullscreen'}}</mat-icon>
    </button>
</div>

