@if (processing.isInUpload$ | async) {
<mat-card appearance="outlined">
  {{ 'Please set and save the settings before you add annotations.' | translate }}
</mat-card>
} @if (isDefault$ | async) {
<mat-card appearance="outlined">
  {{
    'All annotations you create are default annotations and visible for everyone who can access the
    entity.' | translate
  }}
</mat-card>
} @if (isForbidden$ | async) {
<mat-card appearance="outlined">
  {{
    'Default Annotations are not editable for foreign entities. Load entity from a collection to save
    your annotations to make them visible for others. If you are the owner of this entity do not load
    it from a collection to edit the default Annotations.' | translate
  }}
</mat-card>
} @if (isAnnotatingAllowed$ | async) {
<mat-card appearance="outlined">
  {{ 'To add annotations, simply double-click on the entity.' | translate }}
</mat-card>
}

<div
  cdkDropList
  id="annotations-droplist"
  class="annotations-list"
  (cdkDropListDropped)="drop($event)"
>
  @for (annotation of currentAnnotations$ | async; track annotation) {
  <app-annotation-for-editor
    class="annotation-box"
    [annotation]="annotation"
    [cdkDragDisabled]="isDraggingDisabled$ | async"
    cdkDrag
    cdkDragLockAxis="y"
  ></app-annotation-for-editor>
  }
</div>

@if (annotationCount$ | async; as count) {
<div id="editor-footermenu">
  @if (count > 0) {
  <button
    mat-icon-button
    matTooltip="{{ 'Export Annotations to JSON' | translate }}"
    matTooltipPosition="below"
    (click)="exportAnnotations()"
  >
    <mat-icon [attr.aria-label]="'Export Annotations to JSON' | translate">save</mat-icon>
  </button>
  }
  <!--app-broadcast [style.visibility]="isBroadcastingAllowed ? 'visible' : 'hidden'"></app-broadcast-->
</div>
}
