:host {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

div.note {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  row-gap: 8px;
  column-gap: 4px;

  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--grey12-not-passthrough, #dcdcdc);

  span {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    font-size: 12px;
  }

  mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    line-height: 16px;
  }

  p {
    margin: 0;
    grid-column: span 2;
    font-size: 14px;
  }
}
