:host {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 48px;
}

div.note {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  row-gap: 8px;
  column-gap: 4px;

  padding: 12px;
  border-radius: 4px;
  border: 1px solid var(--color-gray-12);

  span {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    font-size: var(--font-size-base);
    color: var(--color-gray-12);
  }

  mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: var(--color-gray-12);

    &.pointer {
      cursor: pointer;
    }
  }

  p {
    margin: 0;
    grid-column: span 3;
  }
}

div.annotations-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: stretch;
}

div#editor-footermenu {
  position: absolute;
  padding: 16px;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  gap: 8px;
  background-color: var(--color-bg-solid);
}

h2 {
  font-size: var(--font-size-base);
  margin-top: 12px;
}
