<mat-card class="annotation-card">
  <form class="annotation-form">

    <mat-card-header (click)="changeOpenPopup()">

      <div mat-card-avatar class="annotation-header-image"><span>{{annotation.ranking}}</span></div>

      <mat-card-title>
        <span *ngIf="!isEditMode">{{annotation.body.content.title | uppercase}}</span>
        <mat-form-field *ngIf="isEditMode">
          <input matInput name="title" #title="ngModel" type="text" placeholder="Title"
                 [(ngModel)]="annotation.body.content.title">
        </mat-form-field>
      </mat-card-title>

      <mat-card-subtitle>{{(annotation.validated) ? 'validated' : 'unvalidated'}}</mat-card-subtitle>

    </mat-card-header>

    <img mat-card-image src={{annotation.body.content.relatedPerspective.preview}} *ngIf="!collapsed">

    <mat-card-content *ngIf="!collapsed">

      <mat-icon id="add-medium"
                *ngIf="isEditMode"
                (click)="showMediaBrowser = !showMediaBrowser">add_photo_alternate
      </mat-icon>

      <app-media-browser *ngIf="isEditMode && showMediaBrowser"
                         (addMedia)="addMedium($event)">

      </app-media-browser>

      <markdown id="annotation-content"
                *ngIf="!isEditMode"
                [data]="annotation.body.content.description"></markdown>

      <mat-form-field *ngIf="isEditMode" class="description">
        <textarea matInput
                  #annotationContent
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  name="description"
                  type="text"
                  placeholder="Description"
                  [(ngModel)]="annotation.body.content.description"></textarea>
      </mat-form-field>

      <mat-checkbox class="validation"
                    *ngIf="isEditMode && isCollectionOwner"
                    [checked]="annotation.validated"
                    (change)="annotation.validated = !annotation.validated">Validated
      </mat-checkbox>

      <button mat-icon-button (click)="selectPerspective()"
              matTooltip="Select Perspective"
              matTooltipPosition="right"
              *ngIf="isEditMode"
              type="button"
              class="perspective">
        <mat-icon aria-label="Select Perspective">camera</mat-icon>
        Select Perspective
      </button>

    </mat-card-content>

    <mat-card-actions>
      <mat-slide-toggle
        [checked]="showAnnotation"
        (change)="toggleVisibility()">
        {{this.showAnnotation ? 'Hide' : 'Show'}}
      </mat-slide-toggle>

      <button mat-icon-button
              (click)="isEditMode ? annotationService.setEditModeAnnotation('') :
                                                  annotationService.setEditModeAnnotation(annotation._id)"
              matTooltip={{labelModeText}}
              *ngIf="isAnnotatingAllowed"
              matTooltipPosition="above"
              type="button">
        <mat-icon attr.aria-label={{labelModeText}}>{{labelMode}}</mat-icon>
      </button>

      <button mat-icon-button
              *ngIf="annotation._id !== 'DefaultAnnotation'"
              (click)="shareAnnotation()"
              matTooltip="Copy to collection"
              matTooltipPosition="above"
              type="button">
        <mat-icon aria-label="Copy to collection">file_copy</mat-icon>
      </button>

      <button *ngIf="isAnnotatingAllowed && isAnnotationOwner"
              mat-icon-button (click)="deleteAnnotation()"
              matTooltip="Delete" matTooltipPosition="above"
              type="button">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </mat-card-actions>

  </form>
</mat-card>
