:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;

  margin: 8px 0px;

  font-family: 'Open Sans';
  color: white;

  span {
    font-style: normal;
    font-weight: 400;
    color: inherit;

    &.prefix,
    &.suffix {
      line-height: 14px;
      font-size: 14px;
      &:empty {
        display: none;
      }
    }
  }

  input {
    width: 100%;
    height: 100%;
    outline: none;
    border: unset;
    appearance: none;
    color: inherit;
    background: transparent;
  }

  div.input-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 12px 8px;

    border-radius: 4px;
    border: 1px solid var(--color-grey-12);
    background: var(--color-grey-dark);
  }
}
