<div id="editor-metadata">

  <mat-card class="titlecard">
    <mat-card-header>
      <mat-card-title>
        Metadata
      </mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-card>
    <mat-card-content>

      <div *ngIf="showMetadata">

        <div *ngIf="metadata['digobj_title']">
          <strong> {{metadata['digobj_title']}} </strong>
        </div>
        <br>
        <div *ngIf="metadata['digobj_description']"> {{metadata['digobj_description']}}</div>
        <br>

        <div *ngIf="isExternal">
          <div> Object from {{service}}</div>
          <br>
          <div>Find Object in {{service}} here: <br>
            <a [href]="metadata['digobj_externalLink'][0]['externalLink_value']" target="_blank">Link to Landingpage</a>
          </div>
          <br>
          <div> Licence: <a [href]="metadata['digobj_licence']" target="_blank">Link to Licence</a></div>
        </div>

        <div *ngIf="!isExternal">

          <div *ngIf="metadata['digobj_licence']">
            <img class="licence" src="assets/img/{{ metadata['digobj_licence'] }}.png">
          </div>
          <br>
          <br>

          <div *ngIf="metadata['digobj_rightsowner_person']">
            <div *ngIf="metadata['digobj_rightsowner_person'].length >= 1">
              <mat-icon>account_circle</mat-icon>
              <div *ngFor="let digobj_rightsowner_person of metadata['digobj_rightsowner_person']">
                <div>
                  <div>
                    {{digobj_rightsowner_person['person_prename']}}
                    {{digobj_rightsowner_person['person_surname']}}
                  </div>
                  <div *ngIf="digobj_rightsowner_person['person_email']">
                    <mat-icon>alternate_email</mat-icon>
                    {{digobj_rightsowner_person['person_email']}}
                  </div>
                  <div *ngIf="digobj_rightsowner_person['person_phonenumber']">
                    <mat-icon>local_phone</mat-icon>
                    {{digobj_rightsowner_person['person_phonenumber']}}
                  </div>
                  <div *ngIf="digobj_rightsowner_person['person_institution']">
                    <div>
                      {{digobj_rightsowner_person['person_institution']}}
                    </div>
                    <div>
                      {{digobj_rightsowner_person['person_institution_data'][0]['institution_name']}}
                    </div>
                  </div>
                  <div *ngIf="digobj_rightsowner_person['person_note']">
                    {{digobj_rightsowner_person['person_note']}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="metadata['digobj_rightsowner_institution']">
            <div *ngIf="metadata['digobj_rightsowner_institution'].length>=1">
              <div
                *ngFor="let digobj_rightsowner_institution of metadata['digobj_rightsowner_institution']">
                <div>
                  <div>
                    <mat-icon>account_balance</mat-icon>
                    <br>{{digobj_rightsowner_institution['institution_name']}}
                  </div>
                  <div>
                    <mat-icon>home</mat-icon>
                    <br>
                    {{digobj_rightsowner_institution['institution_address']['address_street']}}
                    {{digobj_rightsowner_institution['institution_address']['address_number']}},<br>
                    {{digobj_rightsowner_institution['institution_address']['address_postcode']}}
                    {{digobj_rightsowner_institution['institution_address']['address_city']}}<br>
                    {{digobj_rightsowner_institution['institution_address']['address_building']}}
                  </div>
                  <div>
                    {{digobj_rightsowner_institution['institution_address']['address_country']}}
                  </div>
                  <div>
                    {{digobj_rightsowner_institution['institution_note']}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <br>
          <br>
          <div *ngIf="metadata['contact_person'].length>=1">
            <mat-icon>account_circle</mat-icon>
            <div
              *ngFor="let contact_person of metadata['contact_person']">
              <div>
                <div>
                  {{contact_person['person_prename']}}
                  {{contact_person['person_surname']}}
                </div>
                <div>
                  {{contact_person['person_email']}}
                </div>
                <div>
                  {{contact_person['person_phonenumber']}}
                </div>
              </div>
            </div>
          </div>

          <br>
          <br>
          <div *ngIf="!loadModelService.isDefaultLoad">Find Object in ObjectsRepository here: <br>
            <a [href]="baseURL + metadata['_id']" target="_blank">Link to Landingpage</a>
          </div>
          <br>
          <br>

          <div>Download Metadata:
            <br>
            <a class="d-inline-block float-right" title="Download JSON"
               [href]="downloadJsonHref" download="metadatas.json"
               (click)="generateDownloadJsonUri(metadata);">
              <button mat-icon-button
                      matTooltip="Download" matTooltipPosition="above"
                      type="button">
                <mat-icon aria-label="Delete">cloud_download</mat-icon>
              </button>
            </a>
          </div>



        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>
