$cardbgr: #111;

:host {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.single-annotation-card {
  z-index: 0;
  margin-top: 5px;
  position: absolute;
  opacity: 0.9 !important;
  border-radius: 5px !important;
  transition: all .0s ease-in-out;
}

.single-annotation-card .mat-form-field {
  width: 100% !important;
}

#closeButton {
  position: absolute;
  top: 0;
  right: 0;
}

.mat-card {
  background-color: $cardbgr;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  min-width: 250px;
  padding-bottom: 5px;
}

.mat-card-actions {
  margin-bottom: 0 !important;
}

.mat-card .mat-input-element {
  color: #fff;
}
