<mat-card class="single-annotation-card resizable" style="position: absolute;"
          [style.top.px]="positionTop"
          [style.left.px]="positionLeft"
          [style.opacity]="opacity"
          [class.editmode]="editMode"
          *ngIf="visibility"
          [style.background-color]="getColor()"
          id={{annotation._id}}>

  <form class="annotation-form">

    <mat-card-header>

      <mat-card-title>
        <span *ngIf="!editMode">{{annotation.body.content.title}}</span>
        <mat-form-field *ngIf="editMode">
          <input matInput
                 name="title"
                 #title="ngModel"
                 type="text"
                 placeholder="Title"
                 [(ngModel)]="annotation.body.content.title">
        </mat-form-field>
      </mat-card-title>

      <button id="closeButton"
              mat-icon-button
              (click)="closeAnnotation()"
              type="button">
        <mat-icon aria-label="Close">cancel</mat-icon>
      </button>

    </mat-card-header>

    <mat-card-content [perfectScrollbar]="config">

      <markdown id="annotation-content"
                *ngIf="!editMode"
                [data]="annotation.body.content.description"></markdown>

      <div *ngIf="editMode">

        <app-media-browser (addMedia)="addMedium($event)"></app-media-browser>

        <mat-form-field>
        <textarea #annotationContent
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  name="description"
                  type="text"
                  placeholder="Description"
                  [(ngModel)]="annotation.body.content.description"></textarea>
        </mat-form-field>

      </div>
    </mat-card-content>

    <mat-card-actions>

      <button *ngIf="id !== 'DefaultAnnotation'"
              (click)="shareAnnotation()"
              matTooltip="Copy to collection" matTooltipPosition="above"
              type="button">
        <mat-icon aria-label="Delete">send</mat-icon>
      </button>

      <div *ngIf="isDefaultLoad || !isDefault || isDefault && isOwner && !isCollection">

        <button mat-icon-button (click)="editFullscreen()"
                matTooltip="Edit in Fullscreen Mode" matTooltipPosition="above"
                type="button">
          <mat-icon aria-label="Fullscreen">fullscreen</mat-icon>
        </button>

        <button mat-icon-button (click)="editMode ? annotationService.setEditModeAnnotation('') :
                                                  annotationService.setEditModeAnnotation(annotation._id)"
                matTooltip={{labelModeText}} matTooltipPosition="above"
                type="button">
          <mat-icon attr.aria-label={{labelModeText}}>{{labelMode}}</mat-icon>
        </button>

        <button *ngIf="isOwner" mat-icon-button (click)="deleteAnnotation()"
                matTooltip="Delete" matTooltipPosition="above"
                type="button">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </div>
    </mat-card-actions>


  </form>
</mat-card>
