<mat-card class="single-annotation-card"
          [style.top.px]="positionTop"
          [style.left.px]="positionLeft">

  <mat-card-header>
    <mat-card-title> {{annotation.title | uppercase}}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>
      Position<br>
      x: {{positionLeft}}, y: {{positionTop}}

      <br><br>
      {{annotation.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button (click)="takeScreenshot()"
            matTooltip="Edit" matTooltipPosition="above">
      <mat-icon aria-label="Edit">edit</mat-icon>
    </button>
    <button mat-icon-button (click)="takeScreenshot()"
            matTooltip="Delete" matTooltipPosition="above">
      <mat-icon aria-label="Delete">delete</mat-icon>
    </button>

  </mat-card-actions>
</mat-card>
