<mat-card class="single-annotation-card"
          [style.top.px]="positionTop"
          [style.left.px]="positionLeft"
          [style.opacity]="opacity"
          [class.editmode]="editMode"
          *ngIf = "visibility"
          id = {{annotation._id}}>

  <form class="annotation-form" (ngSubmit)="onSubmit($event)">

    <mat-card-header>

      <mat-card-title>
        <span *ngIf="!editMode">{{annotation.body.content.title}}</span>
        <mat-form-field *ngIf="editMode">
          <input matInput name="title" #title="ngModel" type="text" placeholder="Title" [(ngModel)]="annotation.body.content.title">
        </mat-form-field>
      </mat-card-title>


      <button id="closeButton"
              mat-icon-button
              (click)="closeAnnotation()"
              type="button">
        <mat-icon aria-label="Close">cancel</mat-icon>
      </button>

    </mat-card-header>

    <mat-card-content>

      <p *ngIf="!editMode"> {{annotation.body.content.description}}</p>
      <mat-form-field *ngIf="editMode">
        <textarea matInput name="description" #description="ngModel" type="text" placeholder="Description"
                  [(ngModel)]="annotation.body.content.description"></textarea>
      </mat-form-field>

    </mat-card-content>


    <mat-card-actions>

      <button mat-icon-button (click)="toggleEditViewMode()"
              matTooltip={{labelModeText}} matTooltipPosition="above"
              type="button">
        <mat-icon attr.aria-label={{labelModeText}}>{{labelMode}}</mat-icon>
      </button>

      <button mat-icon-button (click)="deleteAnnotation()"
              matTooltip="Delete" matTooltipPosition="above"
              type="button">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>

    </mat-card-actions>


  </form>
</mat-card>
