$cardbgr: #111;
$max-width: 500px;

:host {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.single-annotation-card {
  z-index: 0;
  margin-top: 5px;
  position: absolute;
  opacity: 0.9 !important;
  border-radius: 5px !important;
  transition: all .0s ease-in-out;
}

.single-annotation-card .mat-form-field {
  width: 100% !important;
}

#closeButton {
  position: absolute;
  top: 3px;
  right: 5px;
}

.mat-card {
  background-color: $cardbgr;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  min-width: 250px;
  padding: 15px 25px 0 20px !important;
  max-width: 350px;
  word-wrap: break-word;
}

.mat-card-actions {
  margin-bottom: 0 !important;
}

.mat-card .mat-input-element {
  color: #fff;
}

.mat-card-title {
  font-weight: lighter;
  line-height: 1.5em;
  margin-right: 15px;
}

.editmode {
  opacity: 1 !important;
}

.mat-form-field-infix,
.editmode {
  width: $max-width !important;
}

.mat-card-content {
  max-height: 200px;
  overflow-y: auto;
  padding-right: 15px;
  margin-bottom: 0;
}
