<div id="content-browser">

  <mat-card *ngIf="!isLoggedIn">
    <mat-card-content>
      <p>Please Login with your university account to see data from the repository.</p>
      <button class="fullwidth-button"
              mat-raised-button
              (click)="loginDialog()">
        <mat-icon>account_circle</mat-icon>
        <span>Login</span>
      </button>
    </mat-card-content>
  </mat-card>

  <div *ngIf="isLoggedIn">

    <mat-card>
      <mat-card-content>
        <mat-radio-group aria-label="Select Browsing Category" (change)="changeCategory($event)"
                         [disabled]="!processingService.Observables.collections | async">
          <!--TODO is this the correct way to check if collections exist? -->
          <mat-radio-button value="obj" [checked]=isEntityCategory>Entity</mat-radio-button>
          <mat-radio-button value="col">Collection</mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
    </mat-card>

    <div *ngIf="!isEntityCategory">

      <mat-card>

        <mat-card-header>Public Collections</mat-card-header>

        <mat-card-content>

          <mat-checkbox *ngIf="this.userdataService.personalCollections.length > 0"
                        [checked]="filterPersonalCollections"
                        (change)="filterPersonalCollections = !filterPersonalCollections">Show only my Collections
          </mat-checkbox>
          <br>

          <mat-form-field class="full-width">
            <mat-select (selectionChange)="processingService.fetchAndLoad(undefined, $event.value._id, undefined)"
                        placeholder="Choose Collection">
              <mat-option *ngFor="let collection of filterPersonalCollections ?
              userdataService.personalCollections :
              processingService.Observables.collections | async"
                          [value]="collection">
                {{collection.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </mat-card-content>

      </mat-card>

      <mat-card>

        <mat-card-header>
          Select Collection by ID
        </mat-card-header>

        <mat-card-content>

          <mat-form-field>
            <input matInput name="identifierCollection" #description="ngModel" type="text"
                   placeholder="What's the ID?" [(ngModel)]="identifierCollection">
          </mat-form-field>
          <button mat-raised-button (click)="searchCollectionByID()">Search it</button>


        </mat-card-content>

      </mat-card>
    </div>

    <div *ngIf="isEntityCategory && processingService.Observables.entities | async">

      <mat-card>

        <mat-card-header>
          Select by List of Entities
        </mat-card-header>

        <mat-card-content>

          <mat-checkbox id="checkbox-show-my-entities" *ngIf="this.userdataService.userOwnedFinishedEntities.length"
                        [checked]="filterPersonalEntities"
                        (change)="filterPersonalEntities = !filterPersonalEntities">Show only my Entities
          </mat-checkbox>

          <mat-checkbox [checked]="showEntities"
                        (change)="showEntities = !showEntities">Entities
          </mat-checkbox>

          <mat-checkbox [checked]="showImages"
                        (change)="showImages = !showImages">Image
          </mat-checkbox>

          <mat-checkbox [checked]="showAudio"
                        (change)="showAudio = !showAudio">Audio
          </mat-checkbox>

          <mat-checkbox [checked]="showVideo"
                        (change)="showVideo = !showVideo">Video
          </mat-checkbox>

          <mat-checkbox [checked]="showText"
                        (change)="showText = !showText">Text
          </mat-checkbox>

          <mat-form-field class="full-width">
            <mat-select
              (selectionChange)="processingService.fetchAndLoad($event.value._id, undefined, !isEntityCategory)"
              placeholder="Choose Entity">

              <mat-option *ngFor="let entity of filterPersonalEntities ? this.userdataService.userOwnedFinishedEntities
                : processingService.Observables.entities | async
                | mediaType: showEntities:showImages:showAudio:showVideo:showText"
                          [value]="entity">
                {{entity.name}} ({{entity.mediaType}})
              </mat-option>

            </mat-select>
          </mat-form-field>

        </mat-card-content>

      </mat-card>

      <mat-card>
        <mat-card-header>
          Select Entity by ID
        </mat-card-header>

        <mat-card-content>

          <mat-form-field>
            <input matInput name="identifierEntity" #description="ngModel" type="text"
                   placeholder="What's the ID?" [(ngModel)]="identifierEntity">
          </mat-form-field>
          <button mat-raised-button (click)="searchEntityByID()">Search it</button>

        </mat-card-content>

      </mat-card>

    </div>
  </div>

</div>
