<mat-card *ngIf="!isLoggedIn">
  <mat-card-content>
    <p>Please Login with your university account to see data from the repository.</p>
    <button class="fullwidth-button"
            mat-raised-button
            (click)="loginDialog()">
      <mat-icon>account_circle</mat-icon>
      <span>Login</span>
    </button>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="isLoggedIn">

  <mat-card-content>
    <mat-radio-group aria-label="Select Browsing Category" (change)="changeCategory($event)"
                     [disabled]="!processingService.Observables.collections | async">
                                <!--TODO is this the correct way to check if collections exist? -->
      <mat-radio-button value="obj" [checked]=isObjectCategory>Object</mat-radio-button>
      <mat-radio-button value="col">Collection</mat-radio-button></mat-radio-group>
  </mat-card-content>


  <mat-card *ngIf="!isObjectCategory">

    <mat-card-header>Public Collections</mat-card-header>

    <mat-card-content>

      <mat-checkbox *ngIf="this.userdataService.personalCollections.length > 0" [checked]="filterPersonalCollections"
                    (change)="filterPersonalCollections = !filterPersonalCollections">Show only my Collections
      </mat-checkbox>
      <br>

      <mat-form-field>
        <mat-select (selectionChange)="processingService.selectCollection($event.value._id)"
                    placeholder="Choose Collection">
          <mat-option *ngFor="let collection of filterPersonalCollections ?
              userdataService.personalCollections :
              processingService.Observables.collections | async"
                      [value]="collection">
            {{collection.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </mat-card-content>

    <mat-card>

      <mat-card-header>
        Select Collection by ID
      </mat-card-header>

      <mat-card-content>

        <mat-form-field>
          <input matInput name="identifierCollection" #description="ngModel" type="text"
                 placeholder="What's the ID?" [(ngModel)]="identifierCollection">
        </mat-form-field>
        <button mat-raised-button (click)="searchCollectionByID()">Search it</button>


      </mat-card-content>

    </mat-card>
  </mat-card>

  <div *ngIf="isObjectCategory">

    <div *ngIf="processingService.Observables.models | async">

      <mat-card>

        <mat-card-header>
          Select by List of Objects
        </mat-card-header>

        <mat-card-content>

          <mat-checkbox *ngIf="this.userdataService.userOwnedFinishedModels.length" [checked]="filterPersonalObjects"
                        (change)="filterPersonalObjects = !filterPersonalObjects">Show only my Objects
          </mat-checkbox>

          <br>

          <mat-checkbox [checked]="showModels"
                        (change)="showModels = !showModels">Models
          </mat-checkbox>

          <mat-checkbox [checked]="showImages"
                        (change)="showImages = !showImages">Image
          </mat-checkbox>

          <mat-checkbox [checked]="showAudio"
                        (change)="showAudio = !showAudio">Audio
          </mat-checkbox>

          <mat-checkbox [checked]="showVideo"
                        (change)="showVideo = !showVideo">Video
          </mat-checkbox>

          <mat-checkbox [checked]="showText"
                        (change)="showText = !showText">Text
          </mat-checkbox>

          <br>

          <mat-form-field>
            <mat-select (selectionChange)="processingService.selectModel($event.value._id, !isObjectCategory)"
                        placeholder="Choose Object">

              <mat-option *ngFor="let object of filterPersonalObjects ? this.userdataService.userOwnedFinishedModels
                : processingService.Observables.models | async
                | mediaType: showModels:showImages:showAudio:showVideo:showText"
                          [value]="object">
                {{object.name}} ({{object.mediaType}})
              </mat-option>

            </mat-select>
          </mat-form-field>


        </mat-card-content>

      </mat-card>

      <mat-card>
        <mat-card-header>
          Select Object by ID
        </mat-card-header>

        <mat-card-content>

          <mat-form-field>
            <input matInput name="identifierModel" #description="ngModel" type="text"
                   placeholder="What's the ID?" [(ngModel)]="identifierObject">
          </mat-form-field>
          <button mat-raised-button (click)="searchObjectByID()">Search it</button>

        </mat-card-content>

      </mat-card>
    </div>
  </div>
</mat-card>
