#content-browser mat-checkbox {
  display: block;
}

#checkbox-show-my-objects {
  margin-top: 5px;
  margin-bottom: 10px;
}

.model-card {
  margin-bottom: 25px;
}

.model-card .mat-card-title {
  text-transform: capitalize;
}

.mat-radio-button {
  display: block;
  margin-top: 5px;
}

.full-width {
  width: 100%;
}

